@import 'src/styles/variables';
@import 'src/styles/pagination';

.media-list {
  & > .actions {
    margin-bottom: 20px;

    & > *:not(:first-child) {
      margin-left: 20px;
    }
  }

  .media-size {
    padding: 10px;
    border-radius: 5px;
    box-shadow: $shadow-uniform;
    background-color: $white;
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    h3 {
      margin: 0;
      min-width: 160px;
    }

    & > *:nth-child(2) {
      min-width: 160px;
    }

    .mat-progress-bar {
      height: 10px;
      border-radius: 10px;

      ::ng-deep {
        .mat-progress-bar-buffer {
          background-color: $grey-lighter;
        }

        .mat-progress-bar-fill {
          border-radius: 10px;
          overflow: hidden;

          &:after {
            background-color: $success-color;
          }
        }
      }
    }
  }

  .empty-list {
    margin-top: 20px;
  }

  .chatbot-list {
    margin-top: 20px;

    &-actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-buttons {
        margin-left: 12px;
        display: flex;
        align-items: center;

        & > *:not(:first-child) {
          margin-left: 20px;
        }
      }
    }

    & > * {
      margin-bottom: 20px;
    }

    $preview-size: 120px;

    ::ng-deep {
      .file-preview {
        height: 65px;
        max-width: $preview-size;
        background-color: $grey-light;
        border-radius: $border-radius;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 100%;
        }

        .mat-icon {
          $icon-size: 50px;
          color: $grey;
          height: $icon-size;
          width: $icon-size;
          font-size: $icon-size;
        }
      }

      .content-before-wrapper {
        overflow: hidden;
        flex: initial;
        margin-right: 20px;

        & > * {
          text-decoration: none;
          width: $preview-size;
        }
      }

      &.actions {
        width: 290px;
        flex: auto;
      }
    }
  }

  .empty-list {
    text-align: center;
    font-family: $title-font;
    font-size: 24px;
    color: $grey;
  }
}
