<div class="media-list">
  <div class="actions">
    <button mat-stroked-button
            color="accent"
            [disabled]="processing$ | async"
            (click)="export()">
      <mat-icon *ngIf="!(processing$ | async)">file_copy</mat-icon>
      <mat-spinner *ngIf="processing$ | async"
                   aria-label="Export des médias en cours"
                   [diameter]="24"></mat-spinner>
      Exporter tous les médias
    </button>
    <button mat-flat-button
            color="accent"
            [disabled]="processing$ | async"
            (click)="uploader.click()">
      <mat-icon *ngIf="!(processing$ | async)">add</mat-icon>
      <mat-spinner *ngIf="processing$ | async"
                   aria-label="Chargement et vérification du fichier"
                   [diameter]="24"></mat-spinner>
      Importer un nouveau média
    </button>
  </div>
  <input hidden
         type="file"
         multiple
         #uploader
         (change)="uploadMedia($event)"/>
  <div class="media-size" *ngIf="(config$ | async)">
    <h3>Espace de stockage :</h3><div> {{ (config$ | async).mediaSize }} Go utilisés sur 5 Go</div>
    <mat-progress-bar mode="determinate" [value]="((config$ | async).mediaSize / 5)*100"></mat-progress-bar>
  </div>
  <app-media-filter></app-media-filter>
  <mat-progress-bar mode="indeterminate" *ngIf="loading$ | async"></mat-progress-bar>
  <div class="empty-list" *ngIf="!(loading$ | async) && (medias$ | async).length < 1">
    Base de média vide.
  </div>
  <div class="chatbot-list" *ngIf="(medias$ | async).length > 0">
    <div class="pagination-info" *ngIf="pagination">
      <button mat-icon-button [matMenuTriggerFor]="selectPaginationElements">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #selectPaginationElements="matMenu">
        <app-select-pagination-elements (itemsPerPageChanged)="mediaService.reload()"></app-select-pagination-elements>
      </mat-menu>
      {{ (pagination.currentPage - 1) * pagination.size + 1}}
      - {{ (pagination.currentPage - 1) * pagination.size + pagination.itemCount }} sur {{ pagination.totalElements }}
      médias
    </div>
    <div *ngFor="let media of medias$ | async">
      <app-chatbot-list-item>
        <a target="_blank" rel="noopener" [href]="getMediaPath(media)">
          <div class="file-preview">
            <img *ngIf="utils.isFileImage(media.file); else showIcon" [src]="getMediaPath(media)">
            <ng-template #showIcon>
              <mat-icon>insert_photo</mat-icon>
            </ng-template>
          </div>
        </a>

        <div>{{ unescape(media.file) }}</div>

        <div>Ajouté par {{ media.addedBy }}</div>

        <div>Le {{ media.createdAt | date:'dd/MM/yyyy' }}</div>

        <div>{{ media.size / 1000 }} MB</div>

        <div class="actions">
          <div *ngIf="media.intents && media.intents.length > 0">
            {{ media.intents?.length }} connaissance(s)
          </div>
          <button mat-icon-button
                  class="chatbot-icon-btn"
                  [color]="media.id === mediaLink ? 'primary' : null"
                  [matTooltip]="'Connaissances liées'"
                  (click)="selectMedia(media.id, true)"
                  *ngIf="media.intents && media.intents.length > 0"
                  aria-label="Voir connaissances liées">
            <mat-icon>link</mat-icon>
          </button>
          <button mat-icon-button
                  class="chatbot-icon-btn"
                  [color]="media.id === mediaReplace ? 'primary' : null"
                  (click)="selectMedia(media.id, false)"
                  [matTooltip]="'Remplacer média'"
                  aria-label="Remplacer le média">
            <mat-icon>autorenew</mat-icon>
          </button>
          <button mat-icon-button
                  class="chatbot-icon-btn"
                  [matTooltip]="'Supprimer'"
                  aria-label="Supprimer le média"
                  (click)="deleteMedia(media)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <div *ngIf="media.id === mediaLink || media.id === mediaReplace"
             class="detail"
             [@detailInOutAnimation]>
          <app-media-intents *ngIf="media.id === mediaLink"
                             [intents]="media.intents">
          </app-media-intents>
          <app-replace-media *ngIf="media.id === mediaReplace"
                             (replaceMedia)="replaceMedia(media.id, $event)"></app-replace-media>
        </div>
      </app-chatbot-list-item>
    </div>
    <app-pagination [pagination]="pagination"
                    (changePage)="mediaService.load($event).subscribe()"></app-pagination>
  </div>
</div>
