@import 'src/styles/variables';
@import 'src/styles/pagination';

.media-list {
  & > .actions {
    margin-bottom: 20px;
  }

  .empty-list {
    margin-top: 20px;
  }

  .chatbot-list {
    margin-top: 20px;

    & > * {
      margin-bottom: 20px;
    }

    ::ng-deep {
      .file-preview {
        height: 65px;
        max-width: 120px;
        background-color: $grey-light;
        border-radius: $border-radius;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 100%;
        }

        .mat-icon {
          $icon-size: 50px;
          color: $grey;
          height: $icon-size;
          width: $icon-size;
          font-size: $icon-size;
        }
      }

      .content-wrapper {
        width: 100%;
        justify-content: flex-start;

        & > * {
          margin-right: 20px;
          box-sizing: border-box;
          width: 20%;
          font-weight: bold;
          overflow: hidden;
          text-overflow: ellipsis;
          text-decoration: none;
        }
      }

      &.actions {
        width: 350px;
      }
    }

    .media-detail {
      padding: 15px;
      background-color: $white;
      box-shadow: $shadow-uniform;
    }
  }

  .empty-list {
    text-align: center;
    font-family: $title-font;
    font-size: 24px;
    color: $grey;
  }
}
