@import 'src/styles/variables';

.intent-file {
  .option-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .chatbot-info {
    width: 234px;
    margin-top: 15px;
  }

  .file-row {
    display: flex;
    flex-direction: column;
    border: 1px solid $input-border-color;

    .file-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $white;
      padding: 10px 20px;
      box-sizing: border-box;

      .file-name {
        display: flex;
        align-items: center;

        .mat-icon {
          margin-right: 10px;
        }
      }

      .file-buttons {
        display: flex;
        align-items: center;

        & > *:not(:last-child) {
          margin-right: 20px;
        }
      }
    }

    .file-status {
      padding: 10px 20px;
      font-size: 12px;

      .valid {
        color: $primary-color;
      }

      .error {
        color: $error-color;
      }
    }

    .feedback-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 20px;

      .feedback-content {
        display: flex;
        width: 100%;
        align-items: flex-start;

        .number {
          min-width: 40px;
          background-color: $primary-color;
          color: $white;
          border-radius: 13px;
          text-align: center;
          margin-right: 15px;

          &.error {
            background-color: $error-color;
          }
        }

        .message {
          a {
            text-decoration: underline;
            color: $error-color;
            cursor: pointer;
          }
        }
      }

      .mat-divider {
        width: 100%;
        margin-bottom: 20px;
        margin-top: 20px;
      }
    }
  }

  .action-row {
    text-align: right;
  }

  .file-row, .action-row {
    margin-top: 20px;
  }

  .historic-file {
    display: flex;
    width: 100%;
    box-shadow: $shadow-uniform;
    border-radius: $border-radius;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    background-color: $white;
    margin-bottom: 15px;

    .badge {
      background-color: $primary-color-50;
      padding: 6px 34px;
      text-transform: uppercase;
      color: $primary-color;
      font-weight: bold;
      border-radius: $border-radius;
    }
  }

  .spacer {
    padding: 10px 0;
  }
}
