<div class="chatbot" *ngIf="configService.config && !configService.config.maintenanceMode"
     [ngStyle]="{'height': chatbotHeight + 'px'}">
  <app-chat-widget [socketUrl]="'https://dev.chatbot.fabnum.fr/'"
                   [botAvatar]="'https://dev.chatbot.fabnum.fr/media/'  + configService.config.icon"
                   [companyLogo]="configService.config.embeddedIcon ? window.location.origin + '/media/'  + configService.config.embeddedIcon : null"
                   [botName]="configService.config.name"
                   [botSubtitle]="configService.config.function"
                   [botColor]="configService.config.primaryColor"
                   [userColor]="configService.config.secondaryColor"
                   [botDescription]="configService.config.description"
                   [botHelp]="configService.config.help"
                   [botHelpBtn]="configService.config.helpBtn"
                   [botChatBtn]="configService.config.chatBtn"
                   [botFaqBtn]="configService.config.faqBtn"
                   [storage]="configService.config.storage ? 'local' : 'session'"
                   [showIntentSearch]="configService.config.showIntentSearch"
                   [dismissQuickReplies]="configService.config.dismissQuickReplies"
                   [showFeedback]="configService.config.showFeedback"
                   [blockTypeText]="configService.config.blockTypeText"
                   [showRebootBtn]="configService.config.showRebootBtn"
                   [isTree]="configService.config.isTree"
                   [showFaq]="configService.config.showFaq"
                   [delayBetweenMessages]="configService.config.delayBetweenMessages">
  </app-chat-widget>
</div>
<div class="chatbot" *ngIf="configService.config && configService.config.maintenanceMode"
     [ngStyle]="{'height': chatbotHeight + 'px'}">
  <app-chat-maintenance-mode></app-chat-maintenance-mode>
</div>
