@import "src/styles/variables";

:host {
  display: block;
}

.media-filter {
  padding: 10px;
  border-radius: 5px;
  box-shadow: $shadow-uniform;
  width: fit-content;

  .mat-form-field {
    ::ng-deep.mat-form-field-wrapper {
      padding-bottom: 0;
    }
  }
}
