<div class="stats-filter">
  <h3>Données</h3>
  <form [formGroup]="statsFilters">
    <div class="filter-content">
      <div>Données des derniers jours ou</div>
      <div class="datepickers">
        
        <mat-form-field class="datepicker">
          <mat-label>du</mat-label>
          <input matInput [matDatepicker]="dpStart" disabled>
          <mat-datepicker-toggle matSuffix [for]="dpStart"></mat-datepicker-toggle>
          <mat-datepicker #dpStart disabled="false"></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="datepicker">
          <mat-label>au</mat-label>
          <input matInput [matDatepicker]="dpEnd" disabled>
          <mat-datepicker-toggle matSuffix [for]="dpEnd"></mat-datepicker-toggle>
          <mat-datepicker #dpEnd disabled="false"></mat-datepicker>
        </mat-form-field>
      
      </div>
    </div>
  </form>
  
</div>
  