<div class="faq-list">
  <div class="faq-search"
       [ngStyle]="{'border-color': botColor}">
    <button class="faq-search-mic"
            aria-label="Enregistrer"
            (mousedown)="recognition.start()"
            (mouseup)="recognition.stop()"
            matRipple
            [matRippleCentered]="true"
            [matRippleUnbounded]="true"
            [matRippleRadius]="30"
            *ngIf="SpeechRecognition">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/>
        <path d="M12 3a3 3 0 0 0-3 3v4a3 3 0 0 0 6 0V6a3 3 0 0 0-3-3zm0-2a5 5 0 0 1 5 5v4a5 5 0 0 1-10 0V6a5 5 0 0 1 5-5zM3.055 11H5.07a7.002 7.002 0 0 0 13.858 0h2.016A9.004 9.004 0 0 1 13 18.945V23h-2v-4.055A9.004 9.004 0 0 1 3.055 11z"/>
      </svg>
    </button>
    <input type="text"
           class="faq-search-text"
           aria-label="Message à envoyer"
           [placeholder]="'Rechercher par mots clés'"
           #message
           [formControl]="messageText"
           (keydown.enter)="onSubmit($event)"/>
    <button type="submit"
            mat-button
            mat-flat-button
            class="faq-search-submit"
            aria-label="Envoyer"
            (click)="onSubmit()"
            [ngStyle]="{'background-color': messageText.value.trim() == '' ? '' : botColor}"
            [disabled]="messageText.value.trim() == ''">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
        <path fill="none" d="M0 0h24v24H0z"/>
        <path d="M18.031 16.617l4.283 4.282-1.415 1.415-4.282-4.283A8.96 8.96 0 0 1 11 20c-4.968 0-9-4.032-9-9s4.032-9 9-9 9 4.032 9 9a8.96 8.96 0 0 1-1.969 5.617zm-2.006-.742A6.977 6.977 0 0 0 18 11c0-3.868-3.133-7-7-7-3.868 0-7 3.132-7 7 0 3.867 3.132 7 7 7a6.977 6.977 0 0 0 4.875-1.975l.15-.15z"/>
      </svg>
    </button>
  </div>
  <ng-container *ngIf="faqService.categories && !intents">
    <div *ngFor="let category of faqService.categories"
         class="faq-category"
         (click)="loadCategory(category)">
      <div class="border-active" [ngStyle]="{'background-color': botColor}"></div>
      {{ category }}
      <button mat-icon-button aria-label="Aller à la catégorie">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="#000091">
          <path fill="none" d="M0 0h24v24H0z"/>
          <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"/>
        </svg>
      </button>
    </div>
  </ng-container>
  <app-faq-detail [intents]="intents"
                  [botColor]="botColor"
                  (back)="intents = null"
                  (switchToChat)="switchToChat.emit(true)"
                  *ngIf="intents">
  </app-faq-detail>
  <ng-template #noCategories>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
