@import 'src/styles/variables';
@import 'src/styles/pagination';

.intent-list {
  .actions {
    margin-bottom: 20px;

    & > *:not(:last-child) {
      margin-right: 15px;
    }
  }

  app-update-chatbot {
    margin-top: 20px;
  }

  .empty-list {
    margin-top: 20px;
  }

  .chatbot-list {
    margin-top: 20px;

    & > * {
      margin-bottom: 20px;
      border-radius: $border-radius;
    }
  }

  .empty-list {
    text-align: center;
    font-family: $title-font;
    font-size: 24px;
    color: $grey;
  }
}
