<div class="intent-list">
  <div class="actions">
    <div>
      <button mat-stroked-button
              *appHasRole="'admin'"
              color="accent"
              [routerLink]="'/connaissances/fichier'">
        <mat-icon>file_copy</mat-icon>
        Exporter / importer des connaissances
      </button>
      <button mat-flat-button
              color="accent"
              [routerLink]="'/connaissances/creer'">
        <mat-icon>add</mat-icon>
        Créer nouvelle connaissance
      </button>
    </div>
    <div>
      {{ (configService.config$ | async)?.lastTrainingAt | date }}
    </div>
  </div>
  <app-intent-filter></app-intent-filter>
  <mat-progress-bar mode="indeterminate" *ngIf="loading$ | async"></mat-progress-bar>
  <div class="empty-list" *ngIf="!(loading$ | async) && (intents$ | async).length < 1">
    Aucune connaissances.
  </div>
  <div class="chatbot-list" *ngIf="(intents$ | async).length > 0">
    <div class="pagination-info" *ngIf="pagination">
      {{ (pagination.currentPage - 1) * pagination.size + 1}}
      - {{ (pagination.currentPage - 1) * pagination.size + pagination.itemCount }} sur {{ pagination.totalElements }}
      connaissances
    </div>
    <div *ngFor="let intent of intents$ | async">
      <app-chatbot-list-item>
        <div class="badge badge-primary"
             *ngIf="intent.category">
          {{ intent.category }}
        </div>
        <div class="badge badge-stroked-primary"
             *ngIf="intent.expiresAt">
          Contenu variable
        </div>
        <div class="badge badge-error"
             *ngIf="isIntentInError(intent)">
          Connaissance incomplète
        </div>
        <div class="badge badge-light"
             *ngIf="intent.status && intent.status !== intentStatus.active">
          {{ intentStatusFr[intent.status] }}
        </div>
        <div class="title" (click)="selectIntent(intent.id)">
          {{ intent.mainQuestion ? intent.mainQuestion : intent.id }}
        </div>
        <div class="hint">
          Mis à jour le {{ intent.updatedAt | date: 'dd/MM/yyyy HH:mm' }}
        </div>

        <div class="actions">
          <div>
            {{ intent.responses?.length }} réponses
          </div>
          <button mat-icon-button
                  class="chatbot-icon-btn"
                  aria-label="Modifier la connaissance"
                  [color]="intentsSelected.includes(intent.id) ? 'primary' : null"
                  (click)="selectIntent(intent.id)"
                  [matTooltip]="'Editer'">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button
                  class="chatbot-icon-btn"
                  aria-label="Archiver la connaissance"
                  (click)="archiveIntent(intent)"
                  [matTooltip]="'Supprimer'">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <div *ngIf="intentsSelected.includes(intent.id)"
             class="detail"
             [@detailInOutAnimation]>
          <app-intent-form [intent]="intent"
                           (close)="selectIntent(intent.id)"
                           [redirect]="false"></app-intent-form>
        </div>
      </app-chatbot-list-item>
    </div>
    <app-pagination [pagination]="pagination"
                    (changePage)="intentService.load($event).subscribe()"></app-pagination>
  </div>
</div>
