@import 'src/styles/variables';
@import 'src/styles/pagination';

.intent-list {
  .actions {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;

    & > *:first-child > *:not(:last-child) {
      margin-right: 15px;
    }

    & > *:not(:first-child) {
      font-size: 12px;
    }
  }

  .empty-list {
    margin-top: 20px;
  }

  .chatbot-list {
    margin-top: 20px;

    &-actions {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .mat-divider {
        height: 30px;
        margin: 0 10px;
      }

      &-buttons > *:not(:first-child) {
        margin-left: 10px;
      }
    }

    & > * {
      margin-bottom: 20px;
      border-radius: $border-radius;

      ::ng-deep .chatbot-list-item .body {
        cursor: pointer;
      }
    }

    .actions {
      width: 210px;
    }
  }

  .empty-list {
    text-align: center;
    font-family: $title-font;
    font-size: 24px;
    color: $grey;
  }
}
