<div class="media-form">
  <div class="chatbot-title">
    <h3>Éditer le nom de votre document</h3>
  </div>
  <form [formGroup]="mediaForm" *ngIf="mediaForm">
    <mat-form-field appearance="outline">
      <mat-label>Nom</mat-label>
      <input matInput
             placeholder="Saisir..."
             formControlName="file"
             maxlength="255"
             required>
      <mat-hint>Une modification de l'extension du fichier peut corrompre ce dernier.</mat-hint>
      <mat-error *ngIf="controls.file.hasError('required')">
        Vous n'avez pas saisi de nom de fichier.
      </mat-error>
      <mat-error *ngIf="controls.file.hasError('maxlength')">
        Le nom de fichier est trop long, il doit faire au maximum 255 caractères.
      </mat-error>
    </mat-form-field>
  </form>
  <div class="media-edit-actions">
    <button mat-stroked-button
            color="accent"
            (click)="onCancel()">
      Annuler
    </button>
    <button mat-flat-button
            color="accent"
            [disabled]="!mediaForm.valid || !mediaForm.dirty"
            (click)="editMedia()">
      Modifier
    </button>
  </div>
</div>
