@import "src/styles/variables";
@import 'src/styles/pagination';

.inbox-list {
  app-update-chatbot {
    margin-top: 20px;
  }

  .chatbot-list {
    margin-top: 20px;

    & > * {
      margin-bottom: 20px;
    }

    ::ng-deep {
      .body > div:first-child {
        flex: 1;
      }

      &.content-wrapper {
        max-width: 250px;
      }

      .actions {
        .mat-divider {
          height: 30px;
        }
      }

      .title-wrapper {
        margin-top: 20px;
      }

      .subtitle {
        display: flex;
        align-items: center;
        margin-top: 10px;

        .mat-icon {
          word-break: normal;
        }
      }

      .no-margin .mat-form-field-wrapper {
        margin: 0;
        padding: 0;
      }
    }
  }

  .empty-list {
    margin-top: 20px;
    text-align: center;
    font-family: $title-font;
    font-size: 24px;
    color: $grey;
  }
}
