<div class="inbox-list">
  <app-inbox-filter></app-inbox-filter>
  <mat-progress-bar mode="indeterminate" *ngIf="loading$ | async"></mat-progress-bar>
  <div class="empty-list" *ngIf="!(loading$ | async) && (inboxes$ | async).length < 1">
    Aucun message à traiter.
  </div>
  <div class="chatbot-list" *ngIf="(inboxes$ | async).length > 0">
    <div class="chatbot-list-actions">
      <div class="chatbot-list-actions-buttons">
        <button mat-icon-button
                class="chatbot-icon-btn"
                aria-label="Sélectionner / desélectionner toutes les requêtes"
                (click)="selectAll()"
                [matTooltip]="'Sélectionner toutes les requêtes'">
          <mat-icon>check_box</mat-icon>
        </button>
        <button mat-icon-button
                class="chatbot-icon-btn"
                aria-label="Archiver toutes les requêtes sélectionnées"
                [disabled]="!multipleSelection || multipleSelection.length < 1"
                (click)="deleteAll()"
                [matTooltip]="'Archiver les requêtes sélectionnées'">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <mat-divider vertical></mat-divider>
      <div class="pagination-info"
           *ngIf="pagination"
           data-cy="PaginationInfo">
        {{ (pagination.currentPage - 1) * pagination.size + 1}}
        - {{ (pagination.currentPage - 1) * pagination.size + pagination.itemCount }} sur {{ pagination.totalElements }}
        questions
      </div>
    </div>
    <div *ngFor="let inbox of inboxes$ | async"
         data-cy="InboxItem">
      <app-chatbot-list-item [checkable]="true"
                             [checked]="multipleSelection.includes(inbox.id)"
                             (checkedClicked)="updateMultipleSelection($event, inbox.id)">
        <div class="badge-staked" [ngClass]="getBadgeClass(inbox.status)">
          {{ inboxStatus_Fr[inbox.status] }}
        </div>
        <div class="title" (click)="selectInbox(inbox.id, true)">
          {{ inbox.question }}
        </div>
        <div class="hint">
          Posté il y a {{ getDiffDate(inbox) }}
        </div>
        <div class="subtitle">
          <mat-icon color="primary">link</mat-icon>&nbsp;<span
          data-cy="InboxIntent">{{ inbox.intent?.mainQuestion }}</span>
        </div>

        <mat-form-field appearance="outline"
                        class="no-margin">
          <mat-label>Assigner à</mat-label>
          <mat-select (valueChange)="assignationChange($event, inbox)"
                      [value]="inbox.user"
                      data-cy="InboxAssignedSelector"
                      [compareWith]="compareByEmails">
            <mat-option [value]="null">
              <mat-icon>delete</mat-icon>
              Aucun
            </mat-option>
            <mat-option [value]="user" *ngFor="let user of users$ | async">
              {{ user.firstName }} {{ user.lastName }} <span class="primary-color">{{ user.role }}</span>
            </mat-option>
            <mat-option [value]="undefined"
                        (click)="assignationExtern(inbox)">
              <mat-icon>mail</mat-icon>
              Personne extérieure
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="actions">
          <button mat-icon-button
                  class="chatbot-icon-btn"
                  aria-label="Voir la connaissance liée"
                  data-cy="InboxIntentBtn"
                  [color]="inbox.id === inboxIntent ? 'primary' : null"
                  (click)="selectInbox(inbox.id, true)"
                  [matTooltip]="'Connaissance liée'">
            <mat-icon>link</mat-icon>
          </button>
          <button mat-icon-button
                  class="chatbot-icon-btn"
                  aria-label="Voir la discussion"
                  data-cy="InboxDicussionBtn"
                  [color]="inbox.id === inboxPreview ? 'primary' : null"
                  (click)="selectInbox(inbox.id, false)"
                  [matTooltip]="'Voir la discussion'">
            <mat-icon>chat</mat-icon>
          </button>
          <mat-divider vertical></mat-divider>
          <button mat-icon-button
                  class="chatbot-icon-btn chatbot-icon-btn-success"
                  data-cy="InboxValidateBtn"
                  [matTooltip]="'Valider la connaissance'"
                  (click)="validateInbox(inbox)">
            <mat-icon>check_circle</mat-icon>
          </button>
          <button mat-icon-button
                  class="chatbot-icon-btn chatbot-icon-btn-error"
                  data-cy="InboxArchiveBtn"
                  [matTooltip]="'Archiver la discussion'"
                  (click)="archiveInbox(inbox)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <div *ngIf="inbox.id === inboxPreview || inbox.id === inboxIntent"
             class="detail"
             [@detailInOutAnimation]>
          <app-inbox-intent *ngIf="inbox.id === inboxIntent"
                            [inbox]="inbox"
                            (close)="inboxIntent = null">
          </app-inbox-intent>
          <app-inbox-preview *ngIf="inbox.id === inboxPreview"
                             [inbox]="inbox">
          </app-inbox-preview>
        </div>
      </app-chatbot-list-item>
    </div>
    <app-pagination [pagination]="pagination"
                    (changePage)="inboxService.load($event).subscribe();"></app-pagination>
  </div>
</div>
