<div class="inbox-list">
  <app-inbox-filter></app-inbox-filter>
  <div class="chatbot-list">
    <mat-progress-bar mode="indeterminate" *ngIf="loading$ | async"></mat-progress-bar>
    <div class="empty-list" *ngIf="!(loading$ | async) && (inboxes$ | async).length < 1">
      Aucun message à traiter.
    </div>
    <app-chatbot-list-item *ngFor="let inbox of inboxes$ | async">
      <div class="badge">
        {{ inbox.status }}
      </div>
      <div class="title">
        {{ inbox.question }}
      </div>
      <div class="hint">
        Reçu le {{ inbox.timestamp * 1000 | date:'dd/MM/yyyy à HH:mm' }}
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Cars</mat-label>
        <mat-select>
          <mat-option value="volvo">Volvo</mat-option>
          <mat-option value="saab">Saab</mat-option>
          <mat-option value="mercedes">Mercedes</mat-option>
          <mat-option value="audi">Audi</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="actions">
        <button mat-icon-button
                aria-label="Example icon-button with a heart icon">
          <mat-icon>link</mat-icon>
        </button>
        <button mat-icon-button
                aria-label="Example icon-button with a heart icon">
          <mat-icon>chat</mat-icon>
        </button>
        <button mat-icon-button
                aria-label="Example icon-button with a heart icon">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </app-chatbot-list-item>
  </div>
</div>
