<div class="intent-tree-branch">
  <app-intent-tree-leaf [intent]="intent"
                        (leafSelected)="leafSelected.emit($event)"
                        (highlightLeafs)="highlightLeafs.emit($event)"
                        [onLeafSelected]="onLeafSelected"
                        [onHighlightLeafs]="onHighlightLeafs">
  </app-intent-tree-leaf>
  <div class="intent-tree-branch-level" *ngIf="intent.nextIntents && intent.nextIntents.length > 0">
    <app-intent-tree-branch *ngFor="let nextIntent of intent.nextIntents"
                            [intent]="nextIntent"
                            (leafSelected)="leafSelected.emit($event)"
                            (highlightLeafs)="highlightLeafs.emit($event)"
                            [onLeafSelected]="onLeafSelected"
                            [onHighlightLeafs]="onHighlightLeafs">
    </app-intent-tree-branch>
  </div>
</div>
