<div class="chatbot-access">
  <mat-accordion>
    <mat-expansion-panel [expanded]="false">
      <mat-expansion-panel-header collapsedHeight="28px" expandedHeight="28px">
        <mat-panel-title>
          <h3>Accès au chatbot</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="chatbot-subtitle">
        <h4>Lien vers votre chatbot</h4>
      </div>
      <div class="form-disabled-invisible">
        <mat-form-field appearance="outline">
          <input matInput disabled [value]="chatbotPath">
          <button mat-icon-button matSuffix (click)="copyToClipboard(chatbotPath)">
            <mat-icon>file_copy</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="chatbot-subtitle">
        <h4>Embarquer le chatbot sur votre site</h4>
      </div>
      <pre>
        <code [highlight]="embeddedCode" [lineNumbers]="true"></code>
      </pre>
    </mat-expansion-panel>
  </mat-accordion>
</div>
