.faq-detail {
  &-back {
    svg {
      fill: currentColor;
    }
  }

  &-header {
    margin: 20px 0;

    > * {
      display: inline;
    }
  }

  .mat-accordion .mat-expansion-panel {
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
    border-top: 1px solid #e5e5e5;

    &:last-child {
      border-bottom: 1px solid #e5e5e5;
    }

    &.mat-expanded {
      .mat-expansion-panel-header {
        font-weight: bold;
      }
    }

    &-header {
      min-height: 48px;
      height: auto;

      &-title {
        padding: 10px 0;
      }

      ::ng-deep.mat-content {
        align-items: center;

        svg {
          flex: none;
        }
      }
    }
  }

  &-responses {
    margin-top: 16px;

    ::ng-deep.chat-message-quick-reply:hover {
      color: #000000;
    }
  }
}
