<div class="intent-form" data-cy="IntentForm">
  <div class="chatbot-title">
    <h3>{{ getTitle() }}</h3>
  </div>
  <div *ngIf="!isNewIntent && intent.knowledges.length < 2" class="intent-error">
    <mat-icon color="accent">report_problem</mat-icon>
    Aucune ou peu de questions synonymes n'ont été ajoutées. Rajouter au moins 2 questions synonymes afin que le chatbot puisse reconnaître cette question.
  </div>
  <form [formGroup]="intentForm" *ngIf="intentForm">
    <mat-slide-toggle
      matTooltip="Configurez un rappel sur les connaissances nécessitant d'être mis à jour."
      #expiresCheckbox
      color="primary"
      [checked]="!!controls.expiresAt.value"
      (change)="resetValue('expiresAt')">
      Contenu variable <span *ngIf="expiresCheckbox.checked">&nbsp;jusqu'au</span>
      <mat-form-field appearance="outline"
                      *ngIf="expiresCheckbox.checked"
                      (click)="$event.preventDefault()"
                      class="chatbot-datepicker">
        <input matInput [matDatepicker]="picker" formControlName="expiresAt">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </mat-slide-toggle>

    <mat-accordion [multi]="true">
      <mat-expansion-panel disabled [expanded]="true">
        <mat-expansion-panel-header [collapsedHeight]="panelHeight" [expandedHeight]="panelHeight">
          <mat-panel-title>
            <h4>Question<span class="red">*</span></h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-question-form [questionForm]="intentForm"></app-question-form>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header [collapsedHeight]="panelHeight" [expandedHeight]="panelHeight">
          <mat-panel-title>
            <h4>Réponse<span class="red">*</span></h4>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div *ngFor="let responseForm of responsesFormArray.controls; let idx = index">
          <ng-container *ngIf="showResponseForm(idx)">
            <div class="response-header">
              <h5>Réponse {{ getResponseIdx(idx) }}</h5>
              <button mat-icon-button [matMenuTriggerFor]="responseMenu">
                <mat-icon>more_horiz</mat-icon>
              </button>
            </div>
            <mat-menu #responseMenu="matMenu" xPosition="before">
              <a target="_blank"
                 rel="noopener"
                 class="no-decoration"
                 href="https://fabrique-a-chatbots.gitbook.io/fabrique-a-chatbots/base-documentaire/exemples-1">
                <button mat-menu-item>
                  <mat-icon>help_outline</mat-icon>
                  Aide
                </button>
              </a>
              <button mat-menu-item
                      [disabled]="!canDeleteResponse()"
                      (click)="deleteResponse(idx)">
                <mat-icon>delete</mat-icon>
                Supprimer
              </button>
            </mat-menu>
            <app-response-form [responseFormArray]="responsesFormArray"
                               [index]="idx">
            </app-response-form>
            <button mat-stroked-button
                    color="accent"
                    [disabled]="!responsesFormArray.valid"
                    (click)="addResponse()"
                    *ngIf="responsesFormArray.length === (idx + 1)">
              <mat-icon>add</mat-icon>
              Ajouter un autre type de réponse
            </button>
          </ng-container>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header [collapsedHeight]="panelHeight" [expandedHeight]="panelHeight">
          <mat-panel-title>
            <h4>Questions synonymes</h4> &nbsp;
            <span class="chatbot-badge"
                  [ngClass]="{'chatbot-badge-error': knowledgesFormArray.length < 1}">
              {{ knowledgesFormArray.length }}
            </span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <button mat-stroked-button
                color="accent"
                class="add-knowledge-btn"
                [disabled]="!knowledgesFormArray.valid"
                (click)="addKnowledge()">
          <mat-icon>add</mat-icon>
          Ajouter une question synonyme
        </button>

        <ng-container *ngFor="let knowledgeForm of knowledgesFormArray.controls; let idx = index">
          <app-knowledge-form [knowledgeForm]="knowledgeForm"
                              (deleteKnowledge)="deleteKnowledge(idx)">
          </app-knowledge-form>
        </ng-container>
      </mat-expansion-panel>
    </mat-accordion>

    <div class="actions">
      <button mat-stroked-button
              color="accent"
              (click)="cancel()">
        Annuler
      </button>
      <button mat-flat-button
              color="accent"
              (click)="saveIntent()"
              [disabled]="!intentForm.valid || !intentForm.dirty">
        Valider
      </button>
    </div>
  </form>
</div>
