@import 'src/styles/variables';

.intent-form {

  .chatbot-title {
    margin-bottom: 10px;
  }

  .intent-error {
    border: 1px solid $error-color;
    border-radius: $border-radius;
    padding: 15px;
    display: flex;
    align-items: center;
  }

  form {
    .mat-checkbox {
      ::ng-deep.mat-checkbox-label {
        display: flex;
        align-items: center;
        height: 59px;
      }

      .mat-form-field {
        ::ng-deep.mat-form-field-wrapper {
          padding-bottom: 0;
        }
      }
    }

    .chatbot-info {
      margin-left: 15px;
      white-space: initial;
    }
  }

  .mat-accordion .mat-expansion-panel {
    box-shadow: none;
    background: none;
    margin: 10px 0;

    .mat-expansion-panel-header {
      background-color: $primary-color-50;
      color: $primary-color;

      .mat-expansion-panel-header-title {
        align-items: center;
      }

      h4 {
        margin: 0;
      }
    }

    ::ng-deep.mat-expansion-panel-body {
      padding: 16px 0 0 0;
    }
  }

  .response-header {
    display: flex;
    justify-content: space-between;
  }

  .add-knowledge-btn {
    margin-bottom: 10px;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;

    & > *:not(:last-child) {
      margin-right: 15px;
    }
  }
}
