@import 'src/styles/variables';

.intent-form {

  form {
    .mat-checkbox {
      ::ng-deep.mat-checkbox-label {
        display: flex;
        align-items: center;
        height: 59px;
      }

      .mat-form-field {
        ::ng-deep.mat-form-field-wrapper {
          padding-bottom: 0;
        }
      }
    }
  }

  .mat-accordion .mat-expansion-panel {
    box-shadow: none;
    background: none;

    .mat-expansion-panel-header {
      background-color: $primary-color-50;
      color: $primary-color;

      .mat-expansion-panel-header-title {
        align-items: center;
      }

      h4 {
        margin: 0;
      }
    }

    ::ng-deep.mat-expansion-panel-body {
      padding: 16px 0;
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;

    & > *:not(:last-child) {
      margin-right: 15px;
    }
  }
}
