@import 'src/styles/variables';

:host {
    display: block;
  }
  
.stats-best-questions {
  
  .barchart {
    display: flex;
    width: auto;
    height: 300px;
    border-radius: 5px;
    background-color: $white;
    padding: 10px;
  }

  .downloadButton {
    margin-top: 10px;
  }
}
  