<div class="stats-best-questions">
  <div class="chatbot-title">
    <h3>Questions les plus posées</h3>
  </div>

  <div class="barchart" *ngIf="chartData">
    <canvas
      baseChart
      [chartType]="'bar'"
      [datasets]="chartData"
      [legend]="true"
      [options]="chartOptions">
    </canvas>
  </div>

  <button mat-stroked-button
          class="downloadButton"
          color="accent"
          type="button"
          (click)="download()">
    <mat-icon>get_app</mat-icon>
    Exporter le graphique
  </button>

  <a href="#" id="downloadBestQuestBtn" (click)="downloadCanvasBest($event)" hidden>Télécharger le graphique</a>

</div>
