@import 'src/styles/variables';

:host {
    display: block;
  }

.stats-best-questions {
  min-width: 300px;

  .barchart {
    display: flex;
    width: auto;
    min-width: 700px;
    height: 500px;
    border-radius: 5px;
    background-color: $white;
    padding: 10px;
  }

  .downloadButton {
    margin-top: 10px;
  }
}
