@import 'src/styles/variables';

:host {
  display: block;
}

.update-chatbot {
  display: flex;
  padding: 15px;
  border-radius: $border-radius;
  border: 1px solid $primary-color;

  & > *:not(:last-child) {
    margin-right: 10px;
  }

  & > *:nth-child(2) {
    flex: 1;
  }

  & > *:last-child {
    display: flex;
    align-items: center;
  }
}
