@import 'src/styles/variables';

.side-menu {
  $padding-menu: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: $padding-menu;
  width: 270px;
  height: 100%;
  background-color: $white;
  box-sizing: border-box;

  .header {
    cursor: pointer;
    height: 80px;

    img {
      height: 60px;
    }
  }

  .chatbot {
    display: flex;
    align-items: center;
    background-color: $grey-lighter;
    height: 40px;
    // Full width
    width: 100%;
    padding: 0 $padding-menu;
    margin-left: -$padding-menu;
    margin-bottom: 20px;

    &-icon {
      width: 20px;
      height: 20px;
      background-color: $white;
      border-radius: 100px;
      overflow: hidden;
      margin-right: 20px;
    }
  }

  button {
    margin-bottom: 15px;
  }

  .mat-divider {
    margin: 20px 0;
  }
}
