<div class="side-menu">
  <div class="header" [routerLink]="'/'">
    <img src="assets/img/logo_fabrique_chatbot.svg" alt="logo fabrique à chatbots">
  </div>
  <div class="chatbot" *ngIf="chatbotConfig">
    <div class="chatbot-icon">
      <img [src]="getMediaPath(chatbotConfig.icon)" alt="Icône du chatbot">
    </div>
    {{ chatbotConfig.name }}
  </div>
  <button mat-button
          [color]="inbox.isActive ? 'primary' : null"
          [routerLink]="'/requetes'"
          routerLinkActive
          class="chatbot-button"
          #inbox="routerLinkActive">
    <mat-icon fontSet="material-icons-outlined">inbox</mat-icon>
    Requêtes
  </button>
  <button mat-button
          [color]="intents.isActive ? 'primary' : null"
          [routerLink]="'/connaissances'"
          routerLinkActive
          class="chatbot-button"
          #intents="routerLinkActive">
    <mat-icon fontSet="material-icons-outlined">description</mat-icon>
    Connaissances
  </button>
  <button mat-button
          [color]="medias.isActive ? 'primary' : null"
          [routerLink]="'/mediatheque'"
          routerLinkActive
          class="chatbot-button"
          #medias="routerLinkActive">
    <mat-icon fontSet="material-icons-outlined">collections</mat-icon>
    Médiathèque
  </button>
  <button mat-button
          [color]="stats.isActive ? 'primary' : null"
          [routerLink]="'/statistiques'"
          routerLinkActive
          class="chatbot-button"
          #stats="routerLinkActive">
    <mat-icon fontSet="material-icons-outlined">insert_chart_outlined</mat-icon>
    Statistiques
  </button>
  <button mat-button
          [color]="config.isActive ? 'primary' : null"
          [routerLink]="'/configuration'"
          routerLinkActive
          class="chatbot-button"
          #config="routerLinkActive">
    <mat-icon fontSet="material-icons-outlined">edit</mat-icon>
    Configuration
  </button>
</div>
