@import "src/styles/variables";

.side-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  width: 270px;
  height: 100%;
  background-color: $white;
  box-sizing: border-box;

  .header {
    cursor: pointer;
    height: 80px;

    img {
      max-height: 100%;
    }
  }

  button {
    margin-bottom: 15px;
  }

  .mat-divider {
    margin: 20px 0;
  }
}
