@import 'src/styles/variables';

.quick-reply-form {
  .quick-reply-item {
    position: relative;

    .quick-reply-badge {
      background-color: $primary-color;
      color: $white;
      border-radius: $border-radius;
      padding: 2px 20px;
      font-size: 12px;
      font-weight: bold;
      display: inline-block;
      margin-bottom: 15px;
      text-transform: uppercase;
    }

    &:nth-child(3n + 2) .quick-reply-badge {
      background-color: $success-color;
    }

    &:nth-child(3n + 3) .quick-reply-badge {
      background-color: $warning-color;
    }

    form {
      display: flex;
      align-items: center;

      & > * {
        box-sizing: border-box;

        &:nth-child(1) {
          width: 33%;
        }

        &:nth-child(2) {
          width: 66%;
          margin-left: 15px;
        }
      }
    }
  }

  .add-choice-btn {
    margin-bottom: 15px;
  }
}
