@import "src/styles/variables";

.media-list {
  .actions {
    margin-bottom: 20px;
  }

  .chatbot-list {
    margin-top: 20px;

    & > * {
      margin-bottom: 20px;
    }

    ::ng-deep {
      .title a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $primary-color;

        &:active {
          color: $primary-color;
        }

        .mat-icon {
          margin-right: 10px;
        }
      }
    }
  }

  .empty-list {
    text-align: center;
    font-family: $title-font;
    font-size: 24px;
    color: $grey;
  }
}
