<div class="media-list">
  <mat-progress-bar mode="indeterminate" *ngIf="loading$ | async"></mat-progress-bar>
  <div class="empty-list" *ngIf="!(loading$ | async) && (medias$ | async).length < 1">
    Base de média vide.
  </div>
  <div class="chatbot-list">
    <app-chatbot-list-item *ngFor="let media of medias$ | async">
      <div class="title">
        <a target="_blank" [href]="mediaPath + media.file">
          <mat-icon>insert_drive_file</mat-icon>
          {{ media.file }}
        </a>
      </div>

      <div class="hint" *ngIf="media.createdAt">
        Ajouté le {{ media.createdAt | date:'dd/MM/yyyy à HH:mm' }}
      </div>

      <div class="actions">
        <button mat-icon-button
                aria-label="Supprimer le fichier"
                color="accent"
                (click)="deleteMedia(media)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </app-chatbot-list-item>
  </div>
</div>
