@import 'variables';

$padding: 15px;
$border-radius: 3px;

mat-card.mat-card {
  padding: 0;
  border-radius: $border-radius;

  &:not([class*=mat-elevation-z]) {
    box-shadow: $shadow-uniform !important;
  }

  .mat-card-header {
    background-color: $primary-color-100;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    padding: $padding;

    .mat-card-header-text {
      margin: 0;
    }
    h3 {
      color: $black;
      margin: 0;
    }
  }

  .mat-card-content {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    padding: $padding;
  }

  .mat-divider-horizontal {
    position: relative;
  }
}
