@import 'variables';

.mat-form-field {
  &-appearance-outline:not(.chatbot-datepicker) .mat-form-field-outline {
    background-color: $white;
  }

  &.chatbot-datepicker {
    max-width: 150px;

    .mat-form-field-outline {
      .mat-form-field-outline-start, .mat-form-field-outline-end {
        border-style: none;
        border-bottom-style: dashed;
        border-radius: 0;
      }
    }

    input {
      font-weight: bold;
    }
  }
}

form.form-disabled-invisible {
  .mat-form-field-appearance-outline.mat-form-field-disabled:not(.easy-input-visible) {
    .mat-form-field-outline>div {
      background: transparent;
      border: none;
    }

    .mat-form-field-infix input,
    .mat-form-field-infix textarea {
      color: #4d4d4d;
    }

    .mat-form-field-hint-wrapper {
      margin-left: -0.5em;
    }

    .mat-select {
      &.mat-select-disabled .mat-select-arrow {
        width: 0;
        overflow: hidden;
      }
    }
  }
}

.chatbot-range-datepicker {
  border-radius: $border-radius;
  border: 1px solid $input-border-color;
  display: flex;
  align-items: center;
  color: $grey;
  height: $input-height;
  box-sizing: border-box;
  padding: 0 5.5px;
  margin: 3.5px 0;

  .mat-form-field .mat-form-field-wrapper {
    padding: 0;

    .mat-form-field-infix {
      padding: 0.5em 0;
    }
  }
}
