<div class="faq-stats-most-categories">
  <div class="chatbot-title">
    <h3>Catégories les plus consultées</h3>
  </div>

  <div class="chart-container">
    <ngx-charts-bar-vertical [results]="results"
                             [scheme]="'picnic'"
                             [noBarWhenZero]="false"
                             [yAxis]="true"
                             [legend]="true"
                             [legendTitle]="''"
                             [legendPosition]="'below'">
    </ngx-charts-bar-vertical>
  </div>

  <button mat-stroked-button
          class="downloadButton"
          color="accent"
          type="button"
          (click)="download()">
    <mat-icon>get_app</mat-icon>
    Exporter le graphique
  </button>

  <a href="#" id="downloadMostFaqCatBtn" (click)="downloadCanvasBest($event)" hidden>Télécharger le graphique</a>
</div>
