@import "src/styles/variables";

$border-radius: 3px;

.intent-list {
  .actions {
    margin-bottom: 20px;

    & > *:not(:last-child) {
      margin-right: 15px;
    }
  }

  .chatbot-list {
    margin-top: 20px;

    & > * {
      margin-bottom: 20px;
      box-shadow: $shadow-uniform;
      border-radius: $border-radius;
    }

    .intent-detail {
      background-color: $primary-color-100;
      padding: 15px;
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }

  .empty-list {
    text-align: center;
    font-family: $title-font;
    font-size: 24px;
    color: $grey;
  }
}
