<div class="intent-list">
  <div class="chatbot-list">
    <mat-progress-bar mode="indeterminate" *ngIf="loading$ | async"></mat-progress-bar>
    <div class="empty-list" *ngIf="!(loading$ | async) && (intents$ | async).length < 1">
      Base de connaissance vide.
    </div>
    <div *ngFor="let intent of intents$ | async">
      <app-chatbot-list-item>
        <div class="badge badge-primary"
             *ngIf="intent.category">
          {{ intent.category }}
        </div>
        <div class="badge badge-warning"
             *ngIf="intent.expiresAt">
          Contenu variable
        </div>
        <div class="badge badge-error"
             *ngIf="isIntentInError(intent)">
          Connaissance incomplète
        </div>
        <div class="title">
          {{ intent.mainQuestion ? intent.mainQuestion : intent.id }}
        </div>
        <div class="hint">
          {{ intent.createdAt | date: 'dd/MM/yyyy HH:mm' }}
        </div>

        <div class="actions">
          <div>
            3 réponses 5 liens
          </div>
          <button mat-icon-button
                  aria-label="Modifier la connaissance"
                  (click)="selectIntent(intent.id)"
                  [matTooltip]="'Modifier la connaissance'">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button
                  aria-label="Archiver la connaissance"
                  (click)="archiveIntent(intent)"
                  [matTooltip]="'Archiver la connaissance'">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </app-chatbot-list-item>
      <div *ngIf="intent.id === intentSelected" class="intent-detail">
        <h3>Modifier une connaissance</h3>
        <app-create-edit-intent [intent]="intent"></app-create-edit-intent>
      </div>
    </div>
  </div>
</div>
