@import 'src/styles/variables';

.intent-list {
  .actions {
    margin-bottom: 20px;

    & > *:not(:last-child) {
      margin-right: 15px;
    }
  }

  .chatbot-list {
    margin-top: 20px;

    & > * {
      margin-bottom: 20px;
      border-radius: $border-radius;
    }

    .intent-detail {
      padding: 15px;
      background-color: $white;
      box-shadow: $shadow-uniform;
    }
  }

  .empty-list {
    text-align: center;
    font-family: $title-font;
    font-size: 24px;
    color: $grey;
  }
}
