<div class="intent-list">
  <div class="actions">
    <button mat-stroked-button
            color="accent"
            [routerLink]="'/base_documentaire/fichier'">
      <mat-icon>file_copy</mat-icon>
      Importer / exporter des connaissances
    </button>
    <button mat-flat-button
            color="accent"
            [routerLink]="'/base_documentaire/creer'">
      <mat-icon>add</mat-icon>
      Créer nouvelle connaissance
    </button>
  </div>
  <app-intent-filter></app-intent-filter>
  <div class="chatbot-list">
    <mat-progress-bar mode="indeterminate" *ngIf="loading$ | async"></mat-progress-bar>
    <div class="empty-list" *ngIf="!(loading$ | async) && (intents$ | async).length < 1">
      Base de connaissance vide.
    </div>
    <div *ngFor="let intent of intents$ | async">
      <app-chatbot-list-item>
        <div class="badge badge-primary"
             *ngIf="intent.category">
          {{ intent.category }}
        </div>
        <div class="badge badge-warning"
             *ngIf="intent.expiresAt">
          Contenu variable
        </div>
        <div class="badge badge-error"
             *ngIf="isIntentInError(intent)">
          Connaissance incomplète
        </div>
        <div class="title">
          {{ intent.mainQuestion ? intent.mainQuestion : intent.id }}
        </div>
        <div class="hint">
          {{ intent.createdAt | date: 'dd/MM/yyyy HH:mm' }}
        </div>

        <div class="actions">
          <div>
            {{ intent.responses?.length }} réponses
          </div>
          <button mat-icon-button
                  aria-label="Modifier la connaissance"
                  (click)="selectIntent(intent.id)"
                  [matTooltip]="'Modifier la connaissance'">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button
                  aria-label="Archiver la connaissance"
                  (click)="archiveIntent(intent)"
                  [matTooltip]="'Archiver la connaissance'">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </app-chatbot-list-item>
      <div *ngIf="intent.id === intentSelected" class="intent-detail">
        <app-intent-form [intent]="intent"></app-intent-form>
      </div>
    </div>
  </div>
</div>
