<div class="actions">
  <button mat-stroked-button
          *appHasRole="'admin'"
          color="accent"
          [disabled]="inboxService.loading$ | async"
          (click)="exportFile()">
    <mat-icon *ngIf="!(inboxService.loading$ | async)">get_app</mat-icon>
    <mat-spinner *ngIf="inboxService.loading$ | async"
                 aria-label="Export du fichier en cours"
                 [diameter]="24"></mat-spinner>
    Exporter les requêtes
  </button>
</div>
<div class="inbox-filter">
  <h3>Recherche</h3>
  <form [formGroup]="inboxFilters" *ngIf="inboxFilters">
    <mat-form-field appearance="outline" class="query">
      <mat-label>Mots-clés</mat-label>
      <mat-icon matPrefix color="primary">search</mat-icon>
      <input matInput
             formControlName="query"
             data-cy="InboxFilterQuery"
             aria-label="Champ de recherche"
             placeholder="Rechercher...">
      <button mat-button
              *ngIf="controls.query.value"
              matSuffix
              mat-icon-button
              class="reset-query-btn"
              data-cy="InboxFilterQueryBtn"
              aria-label="Reset champ de recherche"
              (click)="controls.query.reset()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline" class="category">
      <mat-label>Catégories</mat-label>
      <mat-select multiple
                  formControlName="categories"
                  data-cy="InboxFilterCategories">
        <mat-option *ngFor="let category of categories$ | async" [value]="category">{{ category }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="statutes">
      <mat-label>Statuts</mat-label>
      <mat-select multiple
                  formControlName="statutes"
                  data-cy="InboxFilterStatutes">
        <mat-option *ngFor="let status of statutes" [value]="status">{{ inboxStatus_Fr[status] }}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="range-datepicker">
      <div class="chatbot-range-datepicker">
        Questions reçues du

        <mat-form-field appearance="outline"
                        class="chatbot-datepicker">
          <input matInput
                 [matDatepicker]="picker"
                 data-cy="InboxFilterStartDate"
                 formControlName="startDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        au

        <mat-form-field appearance="outline"
                        class="chatbot-datepicker">
          <input matInput
                 [matDatepicker]="picker2"
                 data-cy="InboxFilterEndDate"
                 formControlName="endDate">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <mat-checkbox formControlName="assignedTo"
                  class="chekbox-chip"
                  data-cy="InboxFilterAssigned">
      Mes requêtes assignées
    </mat-checkbox>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <mat-checkbox formControlName="assignedToAll"
                  class="chekbox-chip"
                  *appHasRole="'admin'">
      Toutes les requêtes assignées
    </mat-checkbox>
  </form>
</div>
