@import 'src/styles/variables';

:host {
  display: block;
}

.actions {
  margin-bottom: 20px;
  display: flex;
}

.inbox-filter {
  padding: 15px;
  border-radius: 5px;
  box-shadow: $shadow-uniform;
  background-color: $white;

  form {
    display: flex;
    flex-wrap: wrap;

    .query {
      box-sizing: border-box;
      width: 67%;
      padding-right: 20px;
    }

    .category {
      width: 33%;
    }

    .statutes {
      width: calc(100% - 476px);
    }

    .range-datepicker {
      width: 476px;
      box-sizing: border-box;
      padding-left: 20px;
    }
  }
}
