<div class="media-layout">
  <div class="actions">
    <button mat-stroked-button
            color="accent"
            [disabled]="loading$ | async"
            (click)="uploader.click()">
      <mat-icon *ngIf="!(loading$ | async)" fontSet="material-icons-outlined">add_circle_outline</mat-icon>
      <mat-spinner *ngIf="loading$ | async"
                   aria-label="Chargement et vérification du fichier"
                   [diameter]="24"></mat-spinner>
      Ajouter un nouveau média
    </button>
  </div>
  <input hidden
         type="file"
         #uploader
         (change)="uploadMedia($event)"/>

  <app-media-list></app-media-list>
</div>
