<div class="wrapper" aria-label="Fenêtre de chat" id="chat-widget">
  <h1 id="tchat-title" class="sr-only">Fenêtre de chat</h1>
  <app-chat-header [botName]="botName"
                   [botSubtitle]="botSubtitle"
                   [botAvatar]="botAvatar"
                   [botColor]="botColor"
                   [isMobileSize]="isMobileSize"
                   [drawer]="drawer">
  </app-chat-header>
  <mat-drawer-container>
    <mat-drawer #drawer [mode]="isMobileSize ? 'over' : 'side'" [opened]="!isMobileSize">
      <app-chat-side-menu [botName]="botName"
                          [botAvatar]="botAvatar"
                          [companyLogo]="companyLogo"
                          [botSubtitle]="botSubtitle"
                          [botDescription]="botDescription"
                          [botHelpBtn]="botHelpBtn"
                          [botHelp]="botHelp"
                          [botColor]="botColor"
                          [initPayload]="initPayload"
                          [showRebootBtn]="showRebootBtn"
                          [isMobileSize]="isMobileSize">
      </app-chat-side-menu>
    </mat-drawer>
    <mat-drawer-content>
      <app-chat-messages *ngIf="!displayFaq"
                         [showTyping]="showTyping"
                         [botColor]="botColor"
                         [userColor]="userColor"
                         [botName]="botName"
                         [botAvatar]="botAvatar"
                         [userAvatar]="userAvatar"
                         [dismissQuickReplies]="dismissQuickReplies"
                         [showFeedback]="showFeedback"
                         [feedbackPayload]="feedbackPayload"
                         [blockTypeText]="blockTypeText"
                         [showIntentSearch]="showIntentSearch"
                         [inputPlaceholder]="inputPlaceholder"
                         [isMobileSize]="isMobileSize"
                         [storage]="storage"
                         [socketUrl]="socketUrl"
                         [socketPath]="socketPath"
                         [initPayload]="initPayload"
                         [delayBetweenMessages]="delayBetweenMessages"
                         [isTree]="isTree"
                         (checkNavSize)="checkNavSize()">
      </app-chat-messages>
      <app-faq-list *ngIf="displayFaq"
                    [botColor]="botColor"></app-faq-list>
      <div class="button_chat_faq" *ngIf="showFaq">
        <div (click)="displayFaq = false"
             [ngClass]="{'active': !displayFaq}"
             [ngStyle]="!displayFaq && {'background-color': botColor}">
          CHAT
        </div>
        <div (click)="displayFaq = true"
             [ngClass]="{'active': displayFaq}"
             [ngStyle]="displayFaq && {'background-color': botColor}">
          FAQ
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
