:host {
  display: block;
  height: 100vh;
  width: 100vw;
}

.wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .mat-drawer-container {
    width: 100%;
  }

  .mat-drawer {
    box-shadow: 0 0 10px -3px rgba(110, 145, 240, .3);
    border: none;
  }
}

.chat-button {
  z-index: 1;
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 20px;
  right: 40px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
  border-radius: 50%;
  border: none;
  outline: none;
  color: #fff;
  font-size: 32px;
  cursor: pointer;
}

.chat-button svg {
  fill: currentColor;
}

.chat-button-header {
  z-index: 1;
  font-weight: bold;
  color: #fff;
  border: 1px solid #fff;
  background-color: inherit;
  padding: 5px 9px;
  margin-left: 5px;
}

.chat-box {
  z-index: 2;
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.chat-box-hidden {
  display: none;
}

.chat-box-main {
  flex: 1;
  width: 100%;
  background: #fafafa;
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
}

.chat-box-main:focus {
  outline: .2rem solid #f16e00;
}

.chat-box-footer {
  color: #000000;
  height: 50px;
}

.close-bot {
  float: right;
}

.operator-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}

.chat-message {
  display: block;
  width: auto;
  margin: 5px;
  align-self: flex-start;
  flex-direction: row;
  max-width: 80%;
  word-wrap: break-word;
  position: relative;
}

.chat-message.chat-message-full-width {
  width: 100%;
}

.chat-message-feedbacks {
  position: absolute;
  display: flex;
  right: -50px;
  bottom: 33px;
  cursor: pointer;
  height: 20px;
}

.chat-message-feedbacks > * {
  transition: fill 0.2s ease-in-out;
}

.chat-message-feedbacks svg {
  height: 20px;
}

.chat-message-date {
  font-size: 11px;
  color: #8D898D;
  padding: 5px;
}

.chat-message-from-avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.chat-message-text {
  margin-left: 10px;
  padding: 10px;
  border-radius: 20px;
}

.chat-message-quick-replies {
  display: flex;
  flex-wrap: wrap;
}

.chat-message-quick-reply {
  margin-top: 10px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid currentColor;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: inherit;
  border-color: inherit;
}

.chat-message-quick-reply:hover {
  color: #ffffff;
}

.chat-message-quick-replies > .chat-message-quick-reply:not(:last-child) {
  margin-right: 10px;
}

.chat-message-image {
  margin-left: 10px;
}

.chat-message-image div {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  max-width: 500px;
  border-radius: 20px;
  cursor: pointer;
}

/**
Received message style
 */
.chat-message-received {
  margin-right: 50px;
}

.chat-message-received .chat-message-text {
  color: #ffffff;
  margin-left: 50px;
  border-top-left-radius: 0;
}

.chat-message-received .chat-message-image, .chat-message-received .chat-message-quick-replies {
  margin-left: 50px;
}

.chat-message-received .chat-message-image div {
  border-top-left-radius: 0;
}

.chat-message-received .chat-message-date {
  margin-left: 50px;
}

/**
Sent message style
 */
.chat-message-sent {
  align-self: flex-end;
}

.chat-message-sent .chat-message-from {
  float: right;
}

.chat-message-sent .chat-message-text {
  margin-right: 50px;
  border-top-right-radius: 0;
}

.chat-message-sent .chat-message-image, .chat-message-sent .chat-message-quick-replies {
  margin-right: 50px;
}

.chat-message-sent .chat-message-image div {
  border-top-right-radius: 0;
}

.chat-message-sent .chat-message-date {
  text-align: right;
  padding-right: 50px;
}

.chat-message-sent .chat-message-from-avatar {
  position: absolute;
  right: 0;
}

.chat-message-typing {
  display: flex;
  align-items: center;
  margin: 5px;
  color: #8d898d;
  font-style: italic;
  font-size: 12px;
}

/* Animation CSS typing */

.spinner {
  width: 40px;
  text-align: center;
}

.spinner > div {
  width: 9px;
  height: 9px;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0)
  }
  40% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

@media (max-width: 767px) {
  .wrapper {
    display: block;
    flex-direction: column;

    .mat-drawer-container {
      height: calc(100% - 70px);
    }

    .mat-drawer {
      width: 80%;
    }
  }
}

.wrapper.chat-accessibility {
  .chat-message-sent .chat-message-text {
    background-color: #000000 !important;
    color: #ffffff !important;
  }

  .chat-message-received .chat-message-text,
  .chat-box-footer {
    background-color: #f5f5f5 !important;
    color: #000000 !important;
  }
}
