<div class="intent-filter">
  <h3 *ngIf="!light">Recherche</h3>
  <form [formGroup]="intentFilters" *ngIf="intentFilters">
    <mat-form-field appearance="outline" class="query">
      <mat-label>Mots-clés</mat-label>
      <mat-icon matPrefix color="primary">search</mat-icon>
      <input matInput
             formControlName="query"
             data-cy="IntentFilterQuery"
             aria-label="Champ de recherche"
             placeholder="Rechercher...">
      <button mat-button
              *ngIf="controls.query.value"
              matSuffix
              mat-icon-button
              class="reset-query-btn"
              data-cy="IntentFilterQueryBtn"
              aria-label="Reset champ de recherche"
              (click)="controls.query.reset()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline" class="category">
      <mat-label>Catégories</mat-label>
      <mat-select multiple
                  formControlName="categories"
                  data-cy="IntentFilterCategory">
        <mat-option *ngFor="let category of categories$ | async" [value]="category">{{ category }}</mat-option>
      </mat-select>
    </mat-form-field>

    <ng-container *ngIf="!light">
      <mat-checkbox color="primary"
                    class="chekbox-chip"
                    data-cy="IntentFilterErrorBtn"
                    formControlName="intentInError">
        Connaissances incomplètes
      </mat-checkbox>

      <mat-checkbox color="primary"
                    class="chekbox-chip"
                    formControlName="hidden">
        Contenu caché
      </mat-checkbox>

      <mat-checkbox color="primary"
                    class="chekbox-chip"
                    formControlName="expires"
                    (change)="controls.expiresAt.reset(null)">
        Contenu variable <span *ngIf="controls.expires.value">&nbsp;jusqu'au</span>
        <mat-form-field appearance="outline"
                        class="chatbot-datepicker chatbot-datepicker-compact"
                        *ngIf="controls.expires.value"
                        (click)="$event.preventDefault()">
          <input matInput
                 [matDatepicker]="picker"
                 formControlName="expiresAt">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </mat-checkbox>
    </ng-container>
  </form>
</div>
