@import 'src/styles/variables';

:host {
  display: block;
}

.intent-filter {
  padding: 15px;
  border-radius: 5px;
  box-shadow: $shadow-uniform;
  background-color: $white;

  form {
    display: flex;
    flex-wrap: wrap;

    .query {
      box-sizing: border-box;
      width: 50%;
      padding-right: 20px;
    }

    .category {
      padding-right: 20px;
    }

    .category, .users {
      width: calc(25% - 10px);
    }

    .mat-checkbox {
      border-radius: $border-radius;

      ::ng-deep.mat-checkbox-label {
        display: flex;
        align-items: center;
      }

      &:not(:last-child) {
        margin-right: 20px;
      }

      .mat-form-field {
        ::ng-deep.mat-form-field-wrapper {
          padding-bottom: 0;
        }
      }
    }
  }
}
