<div class="intent-filter">
  <h3>Recherche</h3>
  <form [formGroup]="intentFilters" *ngIf="intentFilters">
    <mat-form-field appearance="outline" class="query">
      <mat-label>Mots-clés</mat-label>
      <mat-icon matPrefix color="primary">search</mat-icon>
      <input matInput
             formControlName="query"
             aria-label="Champ de recherche"
             placeholder="Rechercher...">
      <button mat-button
              *ngIf="controls.query.value"
              matSuffix
              mat-icon-button
              class="reset-query-btn"
              aria-label="Reset champ de recherche"
              (click)="controls.query.reset()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline" class="category">
      <mat-label>Catégories</mat-label>
      <mat-select multiple formControlName="categories">
        <mat-option *ngFor="let category of categories$ | async" [value]="category">{{ category }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox color="primary"
                  formControlName="expires"
                  (change)="controls.expiresAt.reset(null)">
      Contenu variable <span *ngIf="controls.expires.value">&nbsp;jusqu'au</span>
      <mat-form-field appearance="outline"
                      class="chatbot-datepicker"
                      *ngIf="controls.expires.value"
                      (click)="$event.preventDefault()">
        <input matInput
               [matDatepicker]="picker"
               formControlName="expiresAt">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </mat-checkbox>
  </form>
</div>
