.response-form {
  form {
    display: flex;
    flex-wrap: wrap;

    > *:nth-child(1) {
      width: 33%;
    }

    form, form > * {
      width: 100%;
    }

    > *:nth-child(2), > *:nth-child(3) {
      width: 100%;
    }
  }
}
