<div class="stats-kpi">
  <div class="chatbot-title">
    <h3>Indicateurs</h3>
  </div>

  <div class="kpi-content">
    <div class="kpi-box">
      <div class="kpi-title">
        <b>Taux de réponse du chatbot</b>
      </div>
      <div class="kpi-value">
        {{ratioResponseOk}}%
      </div>
    </div>

    <div class="kpi-box">
      <div class="kpi-title">
        <b>Moyenne de question par visiteur</b>
      </div>
      <div class="kpi-value">
        {{avgQuestionsPerUser}}
      </div>
    </div>

    <div class="kpi-box">
      <div class="kpi-title">
        <b>Temps de réponse moyen du chatbot</b>
      </div>
      <div class="kpi-value">
        {{avgResponseTime}}
      </div>
    </div>
  </div>
</div>
