@import 'src/styles/variables';

:host {
    display: block;
  }
  
.stats-kpi {

    width: 100%;
    min-width: 300px;

    .title {
        display: flex;
        width: 100%;
        background-color: $primary-color;
        border-radius: 5px;

        h3 {
            color: $white;
            font-size: 20px;
        }
    }

    .kpi-content {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        min-width: 300px;
        height: 100px;

        .kpi-box {
            display: flex;
            flex: 1;
            flex-direction: column;
            background-color: $white;
            border-radius: 5px;
            width: 28%;
            padding: 20px;
            min-width: 250px;
            margin: 5px;

            .kpi-title {
                border-bottom: 1px solid $grey-light;
                padding-bottom: 10px;
            }
            .kpi-value {
                padding-top: 10px;
            }
        }
    }
}
  