.chat-header {
  padding: 10px 20px;
  padding-bottom: 9px;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;

  &-body {
    display: flex;
    justify-content: space-between;
    height: 50px;
    flex-direction: column;
    color: dimgrey;
  }

  &-actions {
    display: flex;

    & > * {
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  &-arrow {
    svg {
      transition: transform 160ms linear 0s;
    }

    &-reversed svg {
      transform: rotate(180deg);
    }
  }

  .operator-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      margin: 0;
    }
  }

  &-subtitle {
    border-top: 1px solid #e5e5e5;
    font-size: 0.7rem;
    padding-top: 5px;
  }
}
