@import 'src/styles/variables';

:host {
  display: block;
}

.intent-preview-response {
  white-space: pre-line;

  &-text {
    background-color: $primary-color;
    color: $white;
    padding: 10px;
    border-radius: 0 100px 100px 100px;
  }

  &-quick-replies {
    display: flex;

    & > *:not(:first-child) {
      margin-left: 10px;
    }
  }

  &-quick-reply {
    padding: 10px;
    border: 1px solid $primary-color;
    border-radius: 100px;
    color: $primary-color;
  }
}
