<div class="chat-input">
  <button class="chat-input-mic"
          aria-label="Enregistrer"
          (mousedown)="recognition.start()"
          (mouseup)="recognition.stop()"
          matRipple
          [matRippleCentered]="true"
          [matRippleUnbounded]="true"
          [matRippleRadius]="30"
          *ngIf="SpeechRecognition">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="24" height="24">
      <path d="M0 0h24v24H0z" fill="none"/>
      <path
        d="M12 14c1.66 0 2.99-1.34 2.99-3L15 5c0-1.66-1.34-3-3-3S9 3.34 9 5v6c0 1.66 1.34 3 3 3zm5.3-3c0 3-2.54 5.1-5.3 5.1S6.7 14 6.7 11H5c0 3.41 2.72 6.23 6 6.72V21h2v-3.28c3.28-.48 6-3.3 6-6.72h-1.7z"/>
    </svg>
  </button>
  <textarea type="text"
            class="chat-input-text"
            aria-label="Message à envoyer"
            [placeholder]="placeholder"
            #message
            [formControl]="messageText"
            (keydown.enter)="onSubmit()"
            (keyup.enter)="messageText.setValue('')">
  </textarea>
  <button type="submit"
          class="chat-input-submit"
          aria-label="Envoyer"
          (click)="onSubmit()"
          [disabled]="messageText.value.trim() == ''">
    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
      <path d="M0 0h24v24H0z" fill="none"/>
      <path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"/>
    </svg>
  </button>

  <div class="intents-preview" *ngIf="intents && intents.length > 0">
    <div *ngFor="let intent of intents"
         class="intent"
         aria-label="Envoyer cette proposition de question"
         (click)="sendIntent(intent)">
      {{ intent.mainQuestion }}
    </div>
  </div>
</div>
