.chat-input {
  display: flex;
  position: relative;
  height: 50px;
}

.chat-input-text {
  margin: 14px 0 0 14px;
  height: 25px;
  flex: 1;
  border: 0;
  resize: none;
  border: none;
  overflow: auto;
  outline: none;
  box-shadow: none;
  font-size: 14px;
  background-color: inherit;
  color: inherit;
  font-family: inherit;
}

.chat-input-text::-webkit-input-placeholder {
  color: #818181;
}
.chat-input-text::-moz-placeholder {
  color: #818181;
}
.chat-input-text::-ms-input-placeholder {
  color: #818181;
}

.chat-input-mic, .chat-input-submit {
  outline: none;
  cursor: pointer;
  border: 0;
  font-size: 24px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-input-submit {
  margin: 14px 12px;
  float: right;
}


.chat-input-submit:disabled svg {
  fill: #818181;
}

.chat-input-submit:enabled svg {
  fill: currentColor;
}

.intents-preview {
  position: absolute;
  bottom: 50px;
  width: 100%;
  max-height: 33vh;
  overflow-y: auto;
  background-color: #ffffff;
  box-shadow: 0 0 10px -3px rgba(110, 145, 240, .3);
}

.intents-preview .intent {
  cursor: pointer;
  transition: background-color 200ms;
  padding: 10px;
}

.intents-preview .intent:hover {
  background-color: #d3d3d3;
}
