@import "src/styles/variables";

.footer {
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 5%;

  & > * {
    display: flex;
    align-items: center;

    & > *:not(:last-child) {
      margin-right: 10px;
    }
  }

  .links {
    a { text-decoration: none; color:blue; }
    a:visited { text-decoration: none; }
    a:hover { text-decoration: none; }
    a:focus { text-decoration: none; }
    a:hover, a:active { text-decoration: none; }
  }

  img {
    height: 50px;
  }
}
