:host {
  display: block;
  z-index: 10;
  height: 100%;
}

.chat-side-menu {
  width: 400px;
  height: 100%;
  background-color: #ffffff;
  padding: 40px 40px 10px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-divider {
    display: block;
    margin: 20px 0;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(0, 0, 0, .12);
  }

  &-company {
    max-width: 125px;

    img {
      width: 100%;
    }
  }

  &-name h3 {
    margin: 10px 0 5px 0;
    font-weight: bold;
  }

  &-subtitle h4 {
    margin: 0 0 10px 0;
    color: dimgrey;
  }

  &-description {
    color: dimgrey;
    line-height: 1.5em;
  }

  &-footer {
    display: flex;
    align-items: center;
    color: dimgrey;
    font-size: 12px;

    svg {
      width: 90px;
      margin-left: 5px;
    }
  }

  &-accessibility {
    font-weight: 700;
  }

  &-actions {
    & > *:not(:first-child) {
      margin-left: 10px;
    }
  }

  &-help {
    svg {
      margin-right: 5px;
    }
  }

  &-reboot svg {
    fill: #ff006e;
  }
}

app-chat-avatar {
  img {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .chat-side-menu {
    width: 100%;
    padding: 20px 20px 10px 20px;
  }
}
