:host {
  display: block;
  z-index: 10;
  height: 100%;
}

.chat-side-menu {
  width: 400px;
  height: 100%;
  background-color: #ffffff;
  padding: 40px 40px 10px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-divider {
    display: block;
    margin: 20px 0;
    border-top: 1px solid #e5e5e5;
  }

  &-company {
    max-width: 125px;

    img {
      width: 100%;
    }
  }

  &-header {
    display: flex;
  }

  &-name h3 {
    margin: 10px 0 5px 0;
    font-weight: bold;
    color: #161616;
  }

  &-subtitle h4 {
    margin: 0 0 10px 0;
    color: dimgrey;
  }

  &-description {
    color: dimgrey;
    line-height: 1.5em;
  }

  &-footer {
    color: dimgrey;
    font-size: 0.8rem;

    &-develop {
      border-bottom: 1px solid #e5e5e5;
      padding-bottom: 10px;

      & > * {
        display: inline;
      }

      span {
        flex: none
      }
    }

    &-links {
      padding-top: 10px;

      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }

  &-actions {
    & > *:not(:first-child) {
      vertical-align: bottom;
      margin-left: 10px;
    }
  }

  &-help {
    ::ng-deep.mat-button-wrapper {
      display: flex;
      align-items: center;
    }

    svg {
      margin-right: 5px;
    }
  }

  &-reboot svg {
    fill: #ff006e;
  }
}

app-chat-avatar {
  img {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .chat-side-menu {
    width: 100%;
    padding: 20px 20px 10px 20px;
  }
}
