@import 'src/styles/variables';

.mat-drawer-container.body {
  // full height - header height
  height: 100vh;
  background-color: transparent;

  .mat-drawer {
    border: none;
  }

  ::ng-deep.mat-drawer-content {
    background-color: $grey-lighter;

    .content {
      max-width: 90%;
      margin: auto;
      margin-top: 40px;
      // 100% - footer height - margin-top
      min-height: calc(100% - 70px - 40px);
    }
  }
}
