@import 'src/styles/variables';

.chatbot-users {
  .user-item {
    margin-bottom: 20px;
    font-weight: bold;

    ::ng-deep.content-wrapper > * {
      display: flex;
      align-items: center;
    }

    .actions {
      width: 25%;
    }
  }

  .table-wrapper {
    .mat-table {
      width: 100%;
    }
  }
}
