@import "src/styles/variables";

:host {
  display: block;
  width: 100%;
  position: relative;
}

$border-radius: 3px;

.chatbot-list-item {
  border-radius: $border-radius;
  padding: 15px;

  ::ng-deep {
    &.body {
      display: flex;
      align-items: center;

      .title-wrapper {
        margin-top: 10px;
        flex: 2;
      }

      .content-wrapper {
        flex: 1;
      }

      .actions {
        justify-content: flex-end;
      }
    }

    &.badges {
      display: flex;

      .badge {
        border-radius: $border-radius;
        padding: 2px 30px;
        border: 2px solid transparent;
        font-weight: bold;

        &:not(:last-child) {
          margin-right: 10px;
        }

        &-primary {
          background-color: $primary-color;
          border-color: $primary-color;
          color: $white;
        }

        &-warning {
          color: $warning-color;
          border-color: $warning-color;
        }

        &-error {
          color: $accent-color;
          border-color: $accent-color;
        }
      }
    }

    &.title {
      font-weight: bold;
    }

    &.hint {
      font-size: 12px;
      color: $grey;
    }

    &.actions {
      color: $primary-color;
      display: flex;
      align-items: center;

      > * {
        margin: 0 10px;

        &:not(:first-child):before {
          content: '';
          width: 0;
          height: 50%;
          position: absolute;
          border: 1px solid $input-border-color;
          top: 25%;
          left: -10px;
        }
      }
    }
  }
}
