<div class="chatbot-list-item">
  <div class="body" (click)="cardClicked.emit(true)">
    <div>
      <div class="badges-staked">
        <ng-content select=".badge-staked">
        </ng-content>
      </div>
      <div class="badges">
        <ng-content select=".badge">
        </ng-content>
      </div>
      <div class="title-wrapper">
        <div *ngIf="checkable; else nonCheckable" class="check-wrapper">
          <mat-checkbox color="primary"
                        #checkableCheckbox
                        [checked]="checked"
                        (click)="$event.stopPropagation()"
                        (change)="checkedClicked.emit(checkableCheckbox.checked)">
          </mat-checkbox>
          <div>
            <ng-content select=".title">
            </ng-content>
            <ng-content select=".hint">
            </ng-content>
          </div>
        </div>
        <ng-template #nonCheckable>
          <ng-content select=".title">
          </ng-content>
          <ng-content select=".hint">
          </ng-content>
        </ng-template>
        <ng-content select=".subtitle">
        </ng-content>
      </div>
    </div>
    <div class="content-wrapper">
      <ng-content></ng-content>
    </div>
    <ng-content select=".actions">
    </ng-content>
  </div>
  <div class="detail">
    <ng-content select=".detail"></ng-content>
  </div>
</div>
