@import "src/styles/variables";

:host {
  display: block;
  width: 100%;
  position: relative;
}

.chatbot-list-item {
  border-radius: $border-radius;
  padding: 15px;
  background-color: $white;
  box-shadow: $shadow-uniform;

  ::ng-deep {
    &.body {
      display: flex;
      align-items: center;

      .title-wrapper {
        margin-top: 10px;
        flex: 2;
      }

      .content-wrapper {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .actions {
        justify-content: flex-end;
      }
    }

    &.badges {
      display: flex;

      .badge {
        border-radius: 100px;
        padding: 2px 30px;
        border: 2px solid transparent;
        font-weight: bold;

        &:not(:last-child) {
          margin-right: 10px;
        }

        &-primary {
          background-color: $primary-color;
          border-color: $primary-color;
          color: $white;
        }

        &-stroked-primary {
          border-color: $primary-color;
          color: $primary-color;
        }

        &-warning {
          color: $warning-color;
          border-color: $warning-color;
        }

        &-error {
          color: $error-color;
          border-color: $error-color;
        }
      }
    }

    &.title {
      font-weight: bold;
    }

    &.hint {
      font-size: 12px;
      color: $grey;
    }

    &.actions {
      display: flex;
      align-items: center;

      > * {
        margin: 0 10px;
      }
    }
  }
}
