/* You can add global styles to this file, and also import other style files */
@use '~@angular/material' as mat;
@import '~@angular/material/theming';

@include mat.core();

// Chatbot palettes

$chatbot-blue: (
  50 : #e0e0f2,
  100 : #b3b3de,
  200 : #8080c8,
  300 : #4d4db2,
  400 : #2626a2,
  500 : #000091,
  600 : #000089,
  700 : #00007e,
  800 : #000074,
  900 : #000062,
  A100 : #9292ff,
  A200 : #5f5fff,
  A400 : #2c2cff,
  A700 : #1313ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$chatbot-red: (
  50 : #ffe0ee,
  100 : #ffb3d4,
  200 : #ff80b7,
  300 : #ff4d9a,
  400 : #ff2684,
  500 : #ff006e,
  600 : #ff0066,
  700 : #ff005b,
  800 : #ff0051,
  900 : #ff003f,
  A100 : #ffffff,
  A200 : #fff2f5,
  A400 : #ffbfcb,
  A700 : #ffa6b6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$chatbot-primary: mat.define-palette($chatbot-blue);
$chatbot-accent: mat.define-palette($chatbot-red);
$chatbot-warn: mat.define-palette(mat.$red-palette);
$chatbot-typography: mat.define-typography-config(
  $font-family: 'Marianne',
);
$chatbot-theme: mat.define-light-theme((
  color: (
    primary: $chatbot-primary,
    accent: $chatbot-accent,
    warn: $chatbot-warn
  ),
  typography: $chatbot-typography,
));

@include mat.all-component-themes($chatbot-theme);

$primary-color: map-get($chatbot-primary, 500);


/* Marianne regular */
@font-face {
  font-family: 'Marianne';
  src: url('assets/fonts/Marianne-Regular.woff2') format('woff2'),
  url('assets/fonts/Marianne-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Marianne italic */
@font-face {
  font-family: 'Marianne';
  src: url('assets/fonts/Marianne-Regular_Italic.woff2') format('woff2'),
  url('assets/fonts/Marianne-Regular_Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Marianne bold */
@font-face {
  font-family: 'Marianne';
  src: url('assets/fonts/Marianne-Bold.woff2') format('woff2'),
  url('assets/fonts/Marianne-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Spectral Regular */
@font-face {
  font-family: 'Spectral';
  src: url('assets/fonts/Spectral-Regular.woff2') format('woff2'),
  url('assets/fonts/Spectral-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Spectral ExtraBold */
@font-face {
  font-family: 'Spectral';
  src: url('assets/fonts/Spectral-ExtraBold.woff2') format('woff2'),
  url('assets/fonts/Spectral-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

html, body {
  height: 100%;
  margin: 0;
}

h1, h2, h3, h4, h5, .mat-dialog-title {
  font-family: Marianne, sans-serif;
}

* {
  box-sizing: border-box;
  position: relative;
  font-family: Marianne, "Open Sans", "Helvetica Neue", sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

button {
  &.mat-button-base {
    height: 40px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 0;
    color: #ffffff;
  }

  &.mat-flat-button.mat-primary:hover:not([disabled]) {
    background-color: #1212ff;
  }

  &:hover:not([disabled]), &.mat-stroked-button:hover:not([disabled]) {
    background-color: rgba(224, 224, 224, 0.5);
  }

  &.mat-flat-button, &.mat-stroked-button {
    border-width: 2px;

    &:not([disabled]) {
      border-color: currentColor !important;
    }
  }

  &.border-button {
    border-bottom: 1px solid currentColor;
    padding: 0 10px;
  }
}

.mat-slide-toggle.mat-primary {
  &.mat-checked {
    .mat-slide-toggle-bar {
      background-color: $primary-color;

      .mat-slide-toggle-thumb-container .mat-slide-toggle-thumb:after {
        font-size: 0.7rem;
        content: '✓';
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        z-index: 1;
        color: $primary-color;
      }
    }
  }

  .mat-slide-toggle-bar {
    height: 20px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid $primary-color;

    .mat-slide-toggle-thumb-container {
      top: -1px;
      left: -1px;

      .mat-slide-toggle-thumb {
        background-color: white;
        border: 1px solid $primary-color;
      }
    }
  }
}

a.external-link {
  display: inline-flex;
  align-items: center;
  color: inherit;

  svg {
    height: 18px;
    margin-bottom: -3px;
    margin-left: 5px;
  }
}

::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;
}
::-moz-placeholder {
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
}
