/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';

@include mat-core();

// Chatbot palettes

$chatbot-blue: (
  50 : #eef2fd,
  100 : #d4defb,
  200 : #b7c8f8,
  300 : #9ab2f5,
  400 : #84a2f2,
  500 : #6e91f0,
  600 : #6689ee,
  700 : #5b7eec,
  800 : #5174e9,
  900 : #3f62e5,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ced7ff,
  A700 : #b4c3ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$chatbot-red: (
  50 : #ffe0ee,
  100 : #ffb3d4,
  200 : #ff80b7,
  300 : #ff4d9a,
  400 : #ff2684,
  500 : #ff006e,
  600 : #ff0066,
  700 : #ff005b,
  800 : #ff0051,
  900 : #ff003f,
  A100 : #ffffff,
  A200 : #fff2f5,
  A400 : #ffbfcb,
  A700 : #ffa6b6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$chatbot-primary: mat-palette($chatbot-blue);
$chatbot-accent: mat-palette($chatbot-red);
$chatbot-warn: mat-palette($mat-red);
$chatbot-theme: mat-light-theme($chatbot-primary, $chatbot-accent, $chatbot-warn);

@include angular-material-theme($chatbot-theme);

/* Roboto regular */

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
  url('assets/fonts/Roboto/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Roboto italic */

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto/Roboto-Italic.woff2') format('woff2'),
  url('assets/fonts/Roboto/Roboto-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Roboto bold */

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
  url('assets/fonts/Roboto/Roboto-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('assets/fonts/Gilroy-ExtraBold/Gilroy-ExtraBold.woff2') format('woff2'),
  url('assets/fonts/Gilroy-ExtraBold/Gilroy-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

html, body {
  height: 100%;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'Gilroy', sans-serif;
}

* {
  box-sizing: border-box;
  position: relative;
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

button {
  &.mat-flat-button {
    height: 38px;
    color: #ffffff;
  }

  &.mat-flat-button, &.mat-stroked-button {
    border-radius: 50px;
    border-width: 2px;
  }
}
