<div class="chatbot" *ngIf="publicConfigService.config"
     [ngStyle]="{'height': chatbotHeight + 'px'}">
  <ngx-rasa-chat-widget [socketUrl]="'https://dev.chatbot.fabnum.fr'"
                        [socketPath]="'/socket-chatbot/'"
                        [initPayload]="'/phrase_presentation'"
                        [botAvatar]="window.location.origin + '/media/'  + publicConfigService.config.icon"
                        [botName]="publicConfigService.config.name"
                        [botSubtitle]="publicConfigService.config.function"
                        [botColor]="publicConfigService.config.primaryColor"
                        [userColor]="publicConfigService.config.secondaryColor"
                        [storage]="'session'"
                        [embedded]="true"
                        [inputPlaceholder]="'Posez votre question ...'">
  </ngx-rasa-chat-widget>
</div>
