<div class="stats-kpi">
  <div class="chatbot-title">
    <h3>Indicateurs</h3>
  </div>

  <div class="kpi-content">
    <div class="kpi-box">
      <div class="kpi-title">
        <b>Nb de consultations de la FAQ</b>
      </div>
      <div class="kpi-value">
        {{visitors}}
      </div>
    </div>

    <div class="kpi-box">
      <div class="kpi-title">
        <b>Nb moyen de questions consultées par visiteur</b>
      </div>
      <div class="kpi-value">
        {{avgQuestionsPerUser}}
      </div>
    </div>
  </div>
</div>
