<div class="Login">
  <mat-card class="Login-wrapper">
    <form [formGroup]="loginForm" *ngIf="loginForm">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput
               placeholder="Saisir..."
               formControlName="email"
               required>
        <mat-error *ngIf="controls.email.hasError('required')">
          Vous n'avez pas saisi d'email.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Mot de passe</mat-label>
        <input matInput
               placeholder="Saisir..."
               formControlName="password"
               type="password"
               required>
        <mat-error *ngIf="controls.password.hasError('required')">
          Vous n'avez pas saisi de mot de passe.
        </mat-error>
      </mat-form-field>
      <button mat-raised-button
              color="primary"
              (click)="login()"
              [disabled]="(authenticating$ | async) || !loginForm.valid">
        Se connecter
      </button>
    </form>
  </mat-card>
</div>
