<div class="chat-box" [ngClass]="{'chat-box-no-faq': !showFaq}">
  <div class="chat-box-firefox" #chatboxfirefox>
    <div class="chat-box-main" tabindex="0" aria-live="polite">
      <div class="chat-message-typing" *ngIf="showTyping">
        <div class="spinner">
          <div class="bounce1" [ngStyle]="{'background-color': botColor}"></div>
          <div class="bounce2" [ngStyle]="{'background-color': botColor}"></div>
          <div class="bounce3" [ngStyle]="{'background-color': botColor}"></div>
        </div>
        {{ botName }} est en train de répondre.
      </div>
      <ng-container *ngFor="let message of messages; let idx = index">
        <div class="chat-message"
             [ngClass]="{'chat-message-received': message.from === 'received', 'chat-message-full-width': message.type !== messageType.text}"
             [@fadeIn]
             [class.chat-message-sent]="message.from === 'sent'">
          <div>
            <app-chat-avatar [image]="message.from === 'received' ? botAvatar : userAvatar"
                             class="chat-message-from-avatar"
                             aria-hidden="true"
                             *ngIf="isFirstMessage(messages[idx + 1], message.from)"></app-chat-avatar>
            <ng-container [ngSwitch]="true">
              <span *ngIf="message.from === 'received'" class="sr-only">{{ botName }} dit :</span>
              <span *ngIf="message.from !== 'received'" class="sr-only">Vous avez dit :</span>
              <app-chat-message [message]="message"
                                [botColor]="botColor"
                                [userColor]="userColor"
                                [dismissQuickReplies]="dismissQuickReplies"
                                (showTyping)="showTyping = $event"
                                (addMessage)="addMessage($event.text, $event.type, $event.from)">
              </app-chat-message>
            </ng-container>
          </div>
          <div class="chat-message-feedbacks"
               *ngIf="canShowFeedback(messages[idx - 1], messages[idx + 1], message.from)">
            <div class="chat-message-feedback-ok"
                 (mouseover)="hoverFeedbackOkIdx = idx" (mouseleave)="hoverFeedbackOkIdx = null"
                 (click)="sendFeedback(idx)"
                 [ngStyle]="{'fill': hoverFeedbackOkIdx == idx  ? '#76c882' : '#8D898D'}">
              <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 24 24" width="24px" fill="#F02B2B">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path
                  d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
              </svg>
            </div>
            <mat-divider [vertical]="true"></mat-divider>
            <div class="chat-message-feedback-wrong"
                 (mouseover)="hoverFeedbackWrongIdx = idx" (mouseleave)="hoverFeedbackWrongIdx = null"
                 (click)="openModal(idx)"
                 [ngStyle]="{'fill': hoverFeedbackWrongIdx == idx  ? '#f44336' : '#8D898D'}">
              <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 24 24" width="24px" fill="#FFB800">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path
                  d="M15 3H6c-.83 0-1.54.5-1.84 1.22l-3.02 7.05c-.09.23-.14.47-.14.73v2c0 1.1.9 2 2 2h6.31l-.95 4.57-.03.32c0 .41.17.79.44 1.06L9.83 23l6.59-6.59c.36-.36.58-.86.58-1.41V5c0-1.1-.9-2-2-2zm4 0v12h4V3h-4z"/>
              </svg>
            </div>
          </div>
          <div class="chat-message-date"
               *ngIf="isLastMessage(messages[idx - 1], message.from)">
            {{message.date | date: 'dd/MM/yyyy HH:mm'}}
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="chat-box-footer" *ngIf="!isTree">
    <app-chat-input (send)="sendMessage($event)"
                    [blockTypeText]="blockTypeText"
                    [showIntentSearch]="showIntentSearch"
                    [focus]="focus"
                    [placeholder]="inputPlaceholder"></app-chat-input>
  </div>
</div>
