@import 'src/styles/variables';

.image-file-form {
  &-badge {
    background-color: $primary-color;
    color: $white;
    border-radius: $border-radius;
    padding: 2px 20px;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  .form {
    display: flex;
    align-items: center;

    & > * {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;

      &:nth-child(1) {
        width: 35%;
      }

      &:nth-child(2) {
        width: 10%;
        align-items: center;
      }

      &:nth-child(3) {
        width: 55%;
      }
    }
  }

  .mat-form-field ::ng-deep.mat-form-field-wrapper {
    padding: 0;
  }
}

.img-preview {
  height: 210px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed $input-border-color;
  border-radius: $border-radius;
  cursor: pointer;

  img {
    height: 90%;
  }
}
