<div class="image-file-form">
  <div class="image-file-form-badge">
    {{ getBadgeLabel() }}
  </div>
  <div *ngIf="!isImage">
    <mat-form-field appearance="outline">
      <mat-label>Texte du bouton</mat-label>
      <input matInput
             placeholder="Saisir..."
             maxlength="50"
             [value]="btnText"
             (input)="btnTextChange($event)"
             required>
    </mat-form-field>
  </div>
  <div class="form">
    <div>
      <mat-label>{{ getInputLabel() }}</mat-label>
      <mat-form-field appearance="outline">
        <mat-label>URL</mat-label>
        <input matInput
               placeholder="Saisir..."
               maxlength="2000"
               [disabled]="!!media"
               [value]="url"
               (input)="urlChange($event)"
               required>
      </mat-form-field>
    </div>
    <div>
      OU
    </div>
    <div>
      <mat-label>{{ getMediaLabel() }}</mat-label>
      <app-file-item (mediaChange)="mediaChange($event)"
                     [onlyImages]="isImage"
                     [media]="media"
                     [disabled]="!!url"></app-file-item>
    </div>
  </div>
</div>
<div *ngIf="isImage && responseFormControl.value" class="img-preview">
  <img [src]="responseFormControl.value">
</div>
