@import 'src/styles/variables';

:host {
    display: block;
  }
  
.stats-graph {

  .line-stats {
    display: flex;
    flex-direction: column;
    width: 100%;
    

    .kpi-stats {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      //justify-content: space-between;
      padding-bottom: 20px;

      .kpi-box {
        display: flex;
        width: 33%;
        min-width: 300px;
        flex-direction: column;

        .mat-accordion .mat-expansion-panel {
          box-shadow: none;
          background: none;

          margin: 0 5px;
        
          .mat-expansion-panel-header, .mat-expansion-panel-header:hover {
            padding: 5px 20px;
            border-radius: $border-radius;

            .mat-expansion-panel-header.mat-expanded{
              background-color: #cacaca !important;
              transition: 0.25s;
            }
        
            .mat-expansion-panel-header-title h3, ::ng-deep .mat-expansion-indicator::after {
              color: $white;
              margin: 0;
            }
        
            .mat-expansion-panel-header-title {
              align-items: flex-start;
            }
          }
        
          ::ng-deep.mat-expansion-panel-body {
            padding: 10px 0;
          }
        }
        
        

        .title-kpi {
          display: flex;
          color: $white;
          align-items: center;
          justify-content: space-between;
          border-radius: 5px;
          height: 30px;

          &::ng-deep .mat-button-wrapper {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin: 0 15px;
          }

          .icon {
            font-size: 20px;
            padding-bottom: 15px;
            transform: rotate(-135deg);
          }
        }

        .content-kpi {
          display: flex;
          flex-direction: column;
          height: 192px;
          width: auto;
          border-radius: 5px;
          background-color: $white;
          padding-left: 20px;
          padding-right: 20px;

          .global {
            display: flex;
            justify-content: center;
            padding: 15px 0px;
          }

          .row {
            display: flex;
            flex-direction: row;
            //justify-content: space-around;
            padding: 15px;
            padding-left: 0px;

            .type {
              width: 35%;
            }

            .row-kpi {
              font-size: 13px;
              width: 65%;

              .kpi {
                
              }
            }
          }
        }
      }
    }
    
    .chart {
      border-radius: 5px;
      background-color: $white;
      width: auto;
      height: 300px;
      padding: 15px;
    }

    .bggreen {
      background-color: #40b374;
      transition: 0.25s;
    }
    .bggreenNeg {
      background-color: #cacaca;
      transition: 0.25s;
    }
    .bggreenNeg:hover {
      background-color: #40b374;
    }
    .cgreen {
      color: #40b374;
    }
    
    .bgyellow {
      background-color: #fab754;
      transition: 0.25s;
    }
    .bgyellowNeg {
      background-color: #cacaca;
      transition: 0.25s;
    }
    .bgyellowNeg:hover {
      background-color: #fab754;
    }
    .cyellow {
      color: #fab754;
    }

    .bgpink {
      background-color: #fab7b9;
      transition: 0.25s;
    }
    .bgpinkNeg {
      background-color: #cacaca;
      transition: 0.25s;
    }
    .bgpinkNeg:hover {
      background-color: #fab7b9;
    }
    .cpink {
      color: #fab7b9;
    }
  }

  .downloadButton {
    margin-top: 10px;
  }

}
  