<div class="stats-graph">
  <div class="chatbot-title">
    <h3>Statistiques globales</h3> 
  </div>

  <div class="line-stats">
    
    <div class="kpi-stats">
      <div class="kpi-box">
        <button mat-flat-button
                  class="title-kpi bggreen"
                  (click)="displayQuestionPanel()">
                  Nombre de questions posées
          </button>
        <div class="content-kpi" *ngIf="questionDisplay === true" [@detailInOutAnimation]>
          <div class="global cgreen">
            <b>{{questionsPanel['count']}} questions posées en Avril 2020</b>
          </div>
          <mat-divider></mat-divider>
          <div class="row">
            <div class="type">
              <b>Maximal</b>
            </div>
            <div class="row-kpi">
              <div class="kpi">- {{questionsPanel['maxDay'] | titlecase}}</div>
              <div class="kpi">- {{questionsPanel['maxNb']}} questions posées</div>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="row">
            <div class="type">
              <b>Minimal</b>
            </div>
            <div class="row-kpi">
              <div>- {{questionsPanel['minDay'] | titlecase}}</div>
              <div>- {{questionsPanel['minNb']}} questions posées</div>
            </div>
          </div>
        </div>

      </div>
      <div class="kpi-box">
        <button mat-flat-button
                  class="title-kpi bgyellow"
                  (click)="displayIntentPanel()">
                  Volume de la base de connaissance
          </button>
        <div class="content-kpi" *ngIf="intentDisplay === true" [@detailInOutAnimation]>
          <div class="global cyellow">
            <b>{{intentPanel['count']}} questions ajoutées en Avril 2020</b>
          </div>
          <mat-divider></mat-divider>
          <div class="row">
            <div class="type">
              <b>Maximal</b>
            </div>
            <div class="row-kpi">
              <div>- {{intentPanel['maxDay'] | titlecase}}</div>
              <div>- {{intentPanel['maxNb']}} questions ajoutées</div>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="row">
            <div class="type">
              <b>Minimal</b>
            </div>
            <div class="row-kpi">
              <div>- {{intentPanel['minDay'] | titlecase}}</div>
              <div>- {{intentPanel['minNb']}} questions posées</div>
            </div>
          </div>
        </div>
      </div>
      <div class="kpi-box">
        <button mat-flat-button
                  class="title-kpi bgpink"
                  (click)="displayVisitorPanel()">
                  Nombre de visiteurs
          </button>
        <div class="content-kpi" *ngIf="visitorsDisplay === true" [@detailInOutAnimation]>
          <div class="global cpink">
            <b>{{visitorsPanel['count']}} visiteurs en Avril 2020</b>
          </div>
          <mat-divider></mat-divider>
          <div class="row">
            <div class="type">
              <b>Maximal</b>
            </div>
            <div class="row-kpi">
              <div>- {{visitorsPanel['maxDay'] | titlecase}}</div>
              <div>- {{visitorsPanel['maxNb']}} visiteurs</div>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="row">
            <div class="type">
              <b>Minimal</b>
            </div>
            <div class="row-kpi">
              <div>- {{visitorsPanel['minDay'] | titlecase}}</div>
              <div>- {{visitorsPanel['minNb']}} visiteurs</div>
            </div>
          </div>
        </div>
      </div>
      
    </div>

    <div class="linechart">
      <canvas
        baseChart
        [chartType]="'line'"
        [datasets]="chartData"
        [colors]="chartColors"
        [labels]="chartLabels"
        [options]="chartOptions"
        [legend]="true">
      </canvas>
      
    </div>
    
  </div>

  <button mat-stroked-button
      class="downloadButton"
      color="accent"
      type="button"
      (click)="download()">
      <mat-icon>get_app</mat-icon>
      Exporter le graphique
  </button>

  <a href="#" id="downloadGraphBtn" (click)="downloadCanvas($event)" hidden> DOWNLOAD THIS</a>
   
</div>
  