@import 'src/styles/variables';

:host {
    display: block;
  }

.stats-graph {
  min-width: 300px;

  .line-stats {
    display: flex;
    flex-direction: column;
    width: 100%;


    .kpi-stats {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-around;
      padding-bottom: 20px;

      .box-set {
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        flex-wrap: wrap;

        .kpi-box {
          display: flex;
          flex: 1;
          min-width: 300px;
          flex-direction: column;
          margin: 5px 0;
  
          .mat-accordion .mat-expansion-panel {
            box-shadow: none;
            background: none;
  
            margin: 0 5px;
  
            .mat-expansion-panel-header, .mat-expansion-panel-header:hover {
              padding: 5px 20px;
              border-radius: $border-radius;
              transition: 0.25s;
  
              .mat-expansion-panel-header.mat-expanded{
                background-color: $grey-light;
                transition: 0.25s;
              }
  
              .mat-expansion-panel-header-title h3, ::ng-deep .mat-expansion-indicator::after {
                color: $white;
                margin: 0;
              }
  
              .mat-expansion-panel-header-title {
                align-items: flex-start;
              }
            }
  
            ::ng-deep.mat-expansion-panel-body {
              padding: 10px 0;
            }
          }
  
  
  
          .title-kpi {
            display: flex;
            color: $white;
            align-items: center;
            justify-content: space-between;
            border-radius: 5px;
            height: 30px;
  
            &::ng-deep .mat-button-wrapper {
              display: flex;
              width: 100%;
              justify-content: space-between;
              margin: 0 15px;
            }
  
            .icon {
              font-size: 20px;
              padding-bottom: 15px;
              transform: rotate(-135deg);
            }
          }
  
          .content-kpi {
            display: flex;
            flex-direction: column;
            height: 192px;
            width: auto;
            border-radius: 5px;
            background-color: $white;
            padding-left: 20px;
            padding-right: 20px;
  
            .global {
              display: flex;
              justify-content: center;
              padding: 15px 0px;
            }
  
            .row {
              display: flex;
              flex-direction: row;
              padding: 15px;
              padding-left: 0px;
  
              .type {
                width: 35%;
              }
  
              .row-kpi {
                font-size: 13px;
                width: 65%;
              }
            }
          }
        }
      }

    }

    .chart {
      border-radius: 5px;
      background-color: $white;
      width: auto;
      min-width: 500px;
      height: 300px;
      padding: 15px;
    }

    .bggreenNeg, .bgyellowNeg, .bgpinkNeg, .bgblueNeg {
      background-color: $grey-light;
    }

    .bggreen, .bggreenNeg:hover {
      background-color: #40b374;
    }
    .cgreen {
      color: #40b374;
    }

    .bgyellow, .bgyellowNeg:hover {
      background-color: #fab754;
    }
    .cyellow {
      color: #fab754;
    }

    .bgpink, .bgpinkNeg:hover {
      background-color: #fd9397;
    }
    .cpink {
      color: #fd9397;
    }

    .bgblue, .bgblueNeg:hover {
      background-color: #94D9D9;
    }
    .cblue {
      color: #94D9D9;
    }
  }

  .downloadButton {
    margin-top: 10px;
  }

}
