<div class="media-list-dialog">
  <h2>Insérer un fichier</h2>
  <div class="media-items">
    <ng-container *ngFor="let media of medias">
      <div class="media-item"
           (click)="selectMedia(media)"
           [ngClass]="{'media-item-selected': isMediaSelected(media)}">
        <div class="media-preview">
          <img *ngIf="utils.isFileImage(media.file); else showIcon" [src]="getMediaPath(media)">
          <ng-template #showIcon>
            <mat-icon>insert_photo</mat-icon>
          </ng-template>
        </div>
        <div>{{ unescape(media.file) }}</div>
        <div>{{ media.createdAt | date: 'dd/MM/yyyy'}}</div>
      </div>
      <mat-divider></mat-divider>
    </ng-container>
  </div>
  <div class="media-actions">
    <button mat-stroked-button
            color="accent"
            matDialogClose>
      Annuler
    </button>
    <button mat-flat-button
            color="accent"
            [disabled]="!mediaSelected"
            [matDialogClose]="mediaSelected">
      Valider
    </button>
  </div>
</div>
